[2015-10-16 12:49] enriquepiatti commented on #171
What version of Magicento are you using?

[2015-10-18 06:06] shadowice222 commented on #171
I'm not sure exactly how to find out but when I go to settings > plugins > magicento i see there 2.9.1. I'm not sure if that's my version or the current version.

[2015-10-20 13:48] jacobsenj commented on #171
Using 2.9.1, too.

[2015-10-21 12:50] aeno commented on #171
I encounter the same problem with Magicento 2.9.2 and PHPStorm 9.0.2 on Linux 4.2.3

[2015-10-22 18:51] enriquepiatti commented on #171
I found the problem, if this bug is blocking some feature and you need the fix now please contact me by email

[2015-10-22 18:51] #171 closed

[2015-11-02 16:58] Bogardo commented on #150
I'm still having issues with this.
Currently running:
Windows 8.1
PHPStorm 10.0
Magicento 2.9.0

[2015-11-02 17:01] Schrank commented on #150
Might be, because you are not 2.9.1+ ;-)

[2015-11-04 12:42] ihor-sviziev opened #178 "Magicento website is down"

[2015-11-04 13:34] enriquepiatti commented on #178
Hi @ihor-sviziev where are you from? for some reason my server keeps blocking some countries, I will try to move everything to another server soon if this problem continue

[2015-11-04 16:37] ihor-sviziev commented on #178
I'm from Ukraine
On Nov 4, 2015 15:34, "Enrique Piatti" notifications@github.com wrote:

[2015-11-06 15:27] maximinimus opened #179 "PhpStorm 10.0 - AssertionError: null when creating model"
ull
java.lang.AssertionError
	at com.magicento.helpers.XmlHelper.createTagUsingMagicentoSuggestions(XmlHelper.java:792)
	at com.magicento.actions.CreateModelTriadAction.executeAction(CreateModelTriadAction.java:63)
	at com.magicento.actions.MagicentoActionAbstract.actionPerformed(MagicentoActionAbstract.java:370)
	at com.intellij.ui.popup.PopupFactoryImpl$ActionPopupStep.performAction(PopupFactory

[2015-11-07 10:13] enriquepiatti commented on #178
Hi @ihor-sviziev, I have moved the site to another server, could you test it again please? Thanks !

[2015-11-07 10:24] ihor-sviziev commented on #178
Yes, thank you!

On Saturday, November 7, 2015, Enrique Piatti notifications@github.com
wrote:

[2015-11-07 10:59] #178 closed

[2015-11-10 15:13] LittleBigDev opened #180 ""Find Usages" enhancement"
Hello,

Do you plan enhancing "find usages" feature ?
For instance, when I'm looking for a model class usage, I get no result because any use of this class is made via `Mage::getModel()`
It would be awesome if I could use "find usages" on my model class and it would return me all related `Mage::getModel()` calls !

[2015-11-19 08:33] Schrank opened #181 "Clear cache doesn't work with Cm_Cache_Backend_File installed"
We love to work with https://github.com/colinmollenhour/Cm_Cache_Backend_File because it is a lot faster then the default Zend_Cache_File implementation.

The problem is, the cache files look like this:
![bildschirmfoto 2015-11-19 um 09 32 38](https://cloud.githubusercontent.com/assets/379680/11265897/84f2fbb2-8ea0-11e5-82b8-ea5a9ca7577e.png)

and it seems like magicento doesn't flush them. I have

[2015-11-23 22:19] Schrank opened #182 "Argument for @NotNull parameter 'element' of com/magicento/helpers/IdeHelper.reformat must not be null"
[code]

[2015-11-25 14:48] enriquepiatti commented on #182
@Schrank seems like you were trying to create a module, do you remember if it failed? looks like the xml file in "/app/etc/modules/" was not created correctly (or at all), maybe your project has a special structure? (virtual machines, modman, etc)

[2015-11-25 17:14] Schrank commented on #182
Everything. I have VMs and modman running. But this happend only once. And it might be, that the file wasn't created. not sure.

[2015-12-04 10:22] Celldweller commented on #165
Unfortunately the error shows up furthermore.
I guess it could have something to do with different projects open at the same time.

[2015-12-09 11:46] enriquepiatti commented on #165
what version are you using now? please contact me by email and I will send you the last version available (2.9.3)
But yes, Magicento could have some problems if you have multiple projects opened at the same time, I recommend to open just one when it's possible.

[2016-01-18 02:07] AreDubya opened #183 "Can't rewrite block - Couldn't find class node containing Yoast_MetaRobots_Block value"
Hi Enrique,

I am trying to rewrite a block, but I get this error message : "Couldn't find class node containing Yoast_MetaRobots_Block value". I haven't seen this before, not sure what it means exactly.

Thanks

[2016-01-19 14:18] enriquepiatti commented on #183
Hi @AreDubya could you please show me the class you are trying to rewrite, and the corresponding config.xml for that module?
(if the information is private you can send it to contact@enriquepiatti.com)

[2016-02-10 09:12] LTC-fperrin opened #184 "Magicento 2 Indexer returns NULL throws IllegalStateException (v0.3.0)"
Hello,

To my pleasant surprised I noticed the update for Magicento2 but since I've installed the new version I can't use it as it throws 100+ Exception while indexing, here is what I get in the Event Log:
[code]

I spared you a *few* lines

Hope to see a fix soon

Thank you for your work

[2016-02-11 14:08] pwilkowski commented on #178
Hi,
Website seems to be down again (for whole poland) and works for example for USA. Could you please fix? I was about to buy plugin.

[2016-02-12 10:34] SeoFood commented on #176
Same for me. Is there any debug mode?

[2016-02-12 18:46] enriquepiatti commented on #176
@SeoFood please read in Magicento settings how the PHP features works, is explained there
Basically it create an eval.php and tries to execute that in your Magento, you can debug the eval.php just like any other php file (put a breakpoint and execute it from your browser)
What version of PhpStorm and Magicento are you using?

[2016-02-16 20:45] kevinjavitz commented on #184
Same for me, prevents using Magicento2 at all :( I can't even enable it. When I enable it says enabled. But it is not running. I press alt + m to enable again, still nothing.

[2016-02-16 20:55] enriquepiatti commented on #184
Try downloading magicento2 again, it should be fixed in 0.3.1

[2016-02-17 08:01] OLTC-fperrin commented on #184
Yep it's fixed! Great news!

Thank you

[2016-02-17 08:01] #184 closed

[2016-02-24 13:49] TKlement opened #185 "Autocomplete for handle nodes wraps all nodes"
Hello,

I have in PhpStorm 10 the problem with the autocomplete in the layout xml.
When I type "<act" PhpStorm show me a suggestion list from magicento with the value: "action".
Now I choose this entry and hit enter.
But suddenly all my oneliner nodes are expanded / wrapped.

Where can I switch that behaviour off?

[2016-04-05 09:19] shadowice222 opened #186 "Worker exited due to exception: String index out of range: -1"
After upgrading PHPStorm to 2016.1
[code]

[2016-04-23 18:53] pod6wasjerks commented on #186
I'm having this issue as well, it happens quite frequently.

[2016-04-23 19:21] enriquepiatti commented on #186
Hi @shadowice222  and @pod6wasjerks, what version of Magicento are you using, this looks like an error fixed in 2.9.3

[2016-04-23 19:44] pod6wasjerks commented on #186
2.9.2. Apologies, @enriquepiatti , I was unaware 2.9.3 had released. I am still within my license but the Magicento menu is not displaying the "Update Magicento" dialog. Can I email you my order number to receive a link?

[2016-04-23 19:59] enriquepiatti commented on #186
sure please send me an email @pod6wasjerks

[2016-04-24 19:09] #186 closed

[2016-04-24 19:10] enriquepiatti commented on #183
@AreDubya I'm closing this, if you have more information or the problem stills there please reopen or send me an email

[2016-04-24 19:10] #183 closed

[2016-04-24 19:26] #182 closed

[2016-04-24 20:09] enriquepiatti commented on #181
Hi Fabian, the file to check is "eval.php" normally you can find that inside ./idea/magicento/eval.php or /var/magicento/eval.php if you have chosen to create that inside "var"
This is the code generated by Magicento inside eval.php when using ALT+M > Flush Cache:

`<?php
define('PATH_TO_MAGENTO', '../..');
require_once PATH_TO_MAGENTO . '/app/Mage.php';
Mage::app('');
Mage::app()->getCacheInstanc

[2016-04-24 20:09] #181 closed

[2016-04-24 20:41] enriquepiatti commented on #179
Hi @maximinimus is this error still happening? if yes I think I need more info about the context to check it better (you can send me an email is the information is private)

[2016-04-24 20:42] #177 closed

[2016-04-24 20:42] #176 closed

[2016-04-24 20:51] #172 closed

[2016-04-24 20:52] #170 closed

[2016-04-24 20:54] enriquepiatti commented on #169
@pquerner sorry for the long delay I was not getting notifications about this not sure why.
Is the error still happening?

[2016-04-24 20:55] #168 closed

[2016-04-24 20:56] #166 closed

[2016-04-24 20:57] Schrank commented on #176
I found the cause for me: I have a software installed called `TripMode` which makes sure, that only special programs are allowed to connect (to the internet) while I'm tethering. Unfortunately it blocks all traffic :-/

[2016-04-24 20:57] #165 closed

[2016-04-24 21:01] #163 closed

[2016-04-24 21:01] #162 closed

[2016-04-24 21:04] enriquepiatti commented on #161
Hi @SkepticalHippo is this problem still happening? (last Magicento version is 2.9.4, please contact me  by email if you have an old version)

[2016-04-24 21:05] #158 closed

[2016-04-24 21:06] #157 closed

[2016-04-24 21:08] #150 closed

[2016-04-24 21:18] #137 closed

[2016-04-24 21:25] enriquepiatti commented on #129
Should be fixed since 2.9+ please reopen if not the case

[2016-04-24 21:25] #129 closed

[2016-04-24 21:25] #134 closed

[2016-05-03 13:48] Koc opened #187 "New versions of plugin"
Hello!

Is this project still alive? Is there roadmap for new versions?

[2016-05-04 10:50] enriquepiatti commented on #187
Hi @Koc yes still alive, but I'm working more on the new plugin for Magento2 because there are not so many pending things for Magento1 in Magicento (if you have an idea that could add a really big difference speeding up the development please let me know, or use the "uservoice" from magicento.com).
Anyway, I'm testing some solutions to improve the debug process in Magento and also some ideas to ma

[2016-05-04 10:50] #187 closed

[2016-05-12 08:37] christian-forgacs commented on #148
We have a nullpointer exception too, but in every template we open. We use modman.

[code]

[2016-05-12 10:22] enriquepiatti commented on #148
Hi @christian-forgacs I'm working on a better method to detect the correct types in Layout files.
If this problem is difficulting your development you can go to Magicento settings and disable the option "Automatic inspect for $this in templates"
Also, could you please send me some details of your project settings to my email? (contacto@enriquepiatti.com)
When you work with modman Magicento needs t

[2016-05-17 12:52] Koc commented on #161
@enriquepiatti does 2.9.4 version is released? I have 2.9.0, how it possible to update?

[2016-05-18 07:55] enriquepiatti commented on #161
Hi @Koc please send me an email and I will check your user and version

[2016-05-25 10:30] obukhow commented on #173
I have the same problem. Very annoying. Every time before flushing cache or toggling template hints I have to go to settings and switch php to `PHP Interpreter` because radio-button in `Use HTTP` position

[2016-05-25 14:53] Koc commented on #161
@enriquepiatti I've send you email to contacto@enriquepiatti.com but there is no any answer :(.

[2016-05-25 15:36] enriquepiatti commented on #161
Hi @Koc I didn't received it, maybe was filtered as SPAM? try again with a copy to enrique.piatti@gmail.com just in case.
And you can always contact me by skype too: enriquepiatti

[2016-05-25 17:49] enriquepiatti commented on #173
Hi @obukhow will be fixed in next release but I higly recommend to use the HTTP option, configure it with your local Magento URL is much safer and it should work better

[2016-05-26 08:09] obukhow opened #188 "Can't change observer method template"
Now magicento generates observer method like this
[code]
with method parameter called `$event`, and I want to change it to magento way:
[code]
with parameter called `$observer`, but there is no template for observer method

[2016-06-10 22:51] tjons opened #189 "String index out of range: -3"
I've ben getting this error recently, and it's starting to get irritating. It happens at seemingly random intervals (using the editor, opening the editor).

[code]

[2016-06-11 00:22] enriquepiatti commented on #189
Hi @tjons, what version of Magicento are you using?

[2016-06-11 01:50] tjons commented on #189
@enriquepiatti 2.9.3

[2016-06-13 14:03] enriquepiatti commented on #189
@tjons I'm closing this because this was due a wrong class name in some of your controller files if I got it right

[2016-06-13 14:03] #189 closed

[2016-06-13 18:45] matiasserrano opened #190 "Can't create controller with Magicento 2"
When I tried to create a new controller with Magicento 2 I get a Null Pointer Exception.

null
java.lang.NullPointerException
	at com.magicento.ui.dialog.CreateControllerDialog.updateBasePath(CreateControllerDialog.java:83)
	at com.magicento.ui.dialog.CreateControllerDialog.createCenterPanel(CreateControllerDialog.java:69)
	at com.intellij.openapi.ui.DialogWrapper.init(DialogWrapper.java:1280)
	at

[2016-06-15 12:33] enriquepiatti commented on #190
Hi @matiasserrano are you coding with Magento or Magento2? because you mentioned Magicento 2 but the stack trace indicates you are using Magicento1

[2016-06-15 12:37] matiasserrano commented on #190
Basically, I have both plugins installed. The project is Magento 2. Perhaps is an issue related to have both Magicento 1 and Magicento 2 installed at the same time. (btw, is the only thing failing, the others works great)

[2016-06-15 12:45] enriquepiatti commented on #190
@matiasserrano have you followed these instructions?
http://magicento.com/#magicento2_installation
ALT+M should open Magicento2 options if your project is Magento2 (also make sure Magicento1 is disabled for your Magento2 project)

[2016-06-15 13:01] matiasserrano commented on #190
Thx, I followed those instructions and is working fine now. Thx!!!!

[2016-06-15 13:01] #190 closed

[2016-07-04 04:24] chandanachk opened #191 "Error flushing the cache"
I cannot enable magicento, previously it was worked fine. in settings i tried test php and got the error "PHP connection is working but the response is not correct. Please check your configuration and test again"

[2016-07-04 07:27] enriquepiatti commented on #191
Hi @chandanachk please add some details about your project and Magicento configuration (send me an email if it's private).
Have you tried with a new and clean Magento project? if it was working before there's no reason to stop doing it unless you added some new extension in conflict with it or changed something in your project or settings.
Regarding to the PHP response, in Magicento settings is ex

[2016-07-04 08:44] chandanachk commented on #191
Hi @enriquepiatti Thanks for the response and i used ,
magicento 2.8.6
ubuntu 16.04 (it has already 2 php versions php5.6 and php7.0)
phpstorm 7.1

Now i have tried a new magento project also but the same error coming. the magicento window is coming when i press Alt + M , and Error flushing the cache - massage is there. i tried test php with use http mode also.

previously it was worked and after

[2016-07-04 09:31] enriquepiatti commented on #191
@chandanachk that is a really old version, not only of Magicento but also PhpStorm, I'm not sure if I would be able to help you with that, is difficult to test that environment for me

[2016-07-06 00:07] matiasserrano opened #192 "duplicate rewrite when override a class"
If I override a class and then I try to override it again using Magicento (and selecting the same module to create the new class - this could happen if the user forgets where is the override, for example) two things happens:

1) Magicento tries to create again the class (PHPStorm stops this action with an error: "File already exists"
2) Magicento adds again the XML line to the override

This issue

[2016-07-06 01:08] enriquepiatti commented on #192
Hi @matiasserrano I will try to add a better check for that, but a fast way to check if a class has already a rewrite is to see the icon on the left of the class name, that icon is from PhpStorm and shows you the classes that are extending that class (and normally rewrites are extending the original class)

[2016-07-06 01:27] matiasserrano commented on #192
Yes, I knew it... in fact, I always use it. But today I realized while overwriting a very big class (and sincerely, I was so tired that I didn't check the icon...). As I told you, it doesn't be a big issue at all and we can live with that...  I didn't test it but perhaps the same occurs with all the other rewrites.

[2016-08-22 12:53] km-digitalpatrioten opened #193 "Can't create model triad - java.lang.AssertionError"
Hi,

when i try to create a model triad i receive this exception:

`null
java.lang.AssertionError
    at com.magicento.helpers.XmlHelper.createTagUsingMagicentoSuggestions(XmlHelper.java:788)
    at com.magicento.actions.CreateModelTriadAction.executeAction(CreateModelTriadAction.java:63)
    at com.magicento.actions.MagicentoActionAbstract.actionPerformed(MagicentoActionAbstract.java:405)
    at

[2016-08-23 11:33] spyro1st commented on #193
Any answer on this? Else the plugin is not really useful for me.

[2016-08-23 18:20] enriquepiatti commented on #193
Hi @km-digitalpatrioten please send me an email because I will need info about your project and maybe is not good to post it here in public.
But you can try also creating a new project, based on a new and clean Magento install (unzip some original Magento code, don't use n98 or modman or any custom modules, just Magento), create a new module with Magicento and then try using the model triad option

[2016-09-06 19:12] Schrank opened #194 "\Mage is not recognized as Mage"
I'm writing tests inside of namespaces, therefore I either have to `use Mage;` or have an absolute path like `\Mage`.

When I `use Mage;` everything is fine.- But if I'm replacing every Mage with `\Mage` the recognition of the special method(s) (at least getModel) doesn't anymore work, e.g.

[code]

[2016-09-06 22:47] enriquepiatti commented on #194
Hi @Schrank is there any big issue with having the "use Mage;" then if that works? because this is a very special situation, normally we don't use namespaces with Magento1

[2016-09-07 06:19] Schrank commented on #194
No there isn't. Everything is fine. I can work with it and I like to work with it, so there is even no egoistic/centric reason to fix this :-)

It is more "you should know" :)

[2016-09-07 10:10] idmistir opened #195 "Magento2 Create Module under different root."
Under a different tree structure (my magento2 installation is in project_root/subfolder/mage) Create Module is not working for me. Create Module tries to create the module on project_root and throws an IndexOutofBounds exception.

Also, question: is magicento still in active development?

`Index: 0, Size: 0
java.lang.IndexOutOfBoundsException: Index: 0, Size: 0
    at java.util.ArrayList.rangeChec

[2016-09-07 18:43] gamort opened #196 "Magento2 - change root detection"
My project root tends to be one level up from the webroot.

Ie path on server:
$HOME/somepath/html  <--- magento installation
PHPStorm project:  somepath/html
That allows me to keep a bunch of bash scripts at
somepath/local and somepath/bin and they don't clutter up html

It looks like the plugin for version1 allows configuration of where magento is, but for magento2 there is no configuration

[2016-09-08 10:45] refaelgold opened #197 "magicento 2 version on official website not correct"
Hey , i use magicento when i buy it from  http://magicento.com/ and the current version is  0.3.2 and on the website the latest is 2.1... how i could know when i needed to upgrade my extension?

[2016-09-08 11:32] enriquepiatti commented on #197
Hi @refaelgold Magicento2 is still in beta, you can read always the full changelog in your plugin description inside PhpStorm. I will update the website and inform about updates on twitter account @magicentoplugin

[2016-09-08 11:32] #197 closed

[2016-09-08 11:33] enriquepiatti commented on #194
OK, thanks @Schrank ! I will close the issue then, I prefer to keep Magicento type inference simpler, if not it could run slower, and namespaces are not needed neither common in Magento1

[2016-09-08 11:33] #194 closed

[2016-09-08 11:35] enriquepiatti commented on #195
Hi @idmistir, are you sure Magicento settings are correct? you need to configure the paths for Magento there
But I highly recommend to create a new project based on your Magento root folder, is there any reason why you are using a parent folder for the project? it will make Magicento (and PhpStorm in general) slower, because it needs to scan more files

[2016-09-08 11:39] enriquepiatti commented on #196
Hi @gamort Magicento2 is still in beta, I will try to make it compatible with different project structures, but I highly recommend to create a new project based on Magento root folder by now.
Are you working normally at the same time on those bash scripts and also in Magento code? because if you can separate them then is better to have 2 PhpStorm projects, everything should run faster in that way

[2016-09-21 15:06] rdicristino opened #198 "Magento 2 no longer uses Mage.php"
I went to set Mage.php and found that magento 2 no longer uses that. So how do I use the functionality of your plugin without that as it is saying that it's required. Plus I keep getting this error "NullPointerException: null null
java.lang.NullPointerException
	at com.magicento.models.xml.layout.MagentoLayoutXml.setArea(MagentoLayoutXml.java:252)
	at com.magicento.MagicentoProjectComponent.getCac

[2016-09-21 15:55] enriquepiatti commented on #198
Hi @rdicristino make sure you are not using Magicento1 with Magento2, there is a different plugin for Magento2, please read
http://magicento.com/#magicento2_installation
http://magicento.com/#changelog_magicento2

[2016-09-21 16:24] rdicristino commented on #198
Hey @enriquepiatti If it says magicento on the install rather than magicento2 then that is the wrong one? My page refreshed before I bought so I thought that it was still the same product as nothing looked different. If this is the case can I swap the item out? I do not use magento 1 so it would be useless for me to have.

[2016-09-21 16:33] rdicristino commented on #198
Btw @enriquepiatti, I forgot to mention, I have the confirmation number for paypal and the order number I received in my email if that will help.

[2016-09-21 20:33] enriquepiatti commented on #198
@rdicristino send me an email with your order number if you lost your private link

[2016-09-21 20:33] #198 closed

[2016-10-03 09:02] halk opened #199 "File-based rewrite conflicts solved"
Enrique,

rewrite conflicts are a pain in larger Magento projects and I like that Magicento warns about them. I'd like to share the list of resolved rewrites with the team. Wondered if there is a way I can commit it to the VCS we use.

Without we have too many warnings of rewrites we already resolved and ultimately don't react anymore to the warnings.

[2016-10-03 09:25] enriquepiatti commented on #199
Hi @halk in next version rewrites conflict will be a bit smarter (if the rewrites classes are extending one from another, then it will assume is a rewrite solved). But until that release you can check the file inside .idea/magicento.xml in that file you will see the lis of rewrites solved, you can copy that XML node and send it to your team, they can paste it into their magicento.xml
Also take int

[2016-10-17 08:31] ilya-kush opened #200 "RuntimeException: Invalid version number: PS-162.1121.38"
I am getting errors when I try to add private code in Magicento settings.

"RuntimeException: Invalid version number: PS-162.1121.38; plugin name: null: Invalid version number: PS-162.1121.38; plugin name: null"

java.lang.RuntimeException: Invalid version number: PS-162.1121.38; plugin name: null
	at com.intellij.openapi.util.BuildNumber.parseBuildNumber(BuildNumber.java:136)
	at com.intellij.ope

[2016-10-17 08:41] enriquepiatti commented on #200
Hi @ilya-kush what version of PhpStorm are you using? and what OS?

[2016-10-17 09:13] ilya-kush commented on #200
@enriquepiatti  PHPStorm 7.1.3  Windows 8.1

[2016-10-17 09:15] DmytroRublov opened #201 "PhpStorm 2016.2(.1) - can't apply Magicento's PHP execution settings"
OS: Windows 10 x64
PhpStorm 2016.2 and 2016.2.1

After changing any Magicento settings, the button 'apply' is unclickable.
If I change settings and click 'yes' - changed value is stored, but when I return to settings again and try to test PHP execution after changing to PHP interpreter, I get "Please apply changes first".

[2016-10-17 09:23] enriquepiatti commented on #200
that version of PhpStorm is really old @ilya-kush I guess you will miss a lot of features of Magicento if you don't update it.
Anyway, I have added a bugfix for that, please try downloading Magicento and install it again, and let me know if it's fixed

[2016-10-17 09:31] enriquepiatti commented on #201
Hi @DmytroRublov, I have added a bugfix for that error, please download and install Magicento again.
Thanks for reporting it!
I'm closing this, reopen if the fix doesn't work

[2016-10-17 09:31] #201 closed

[2016-10-17 09:31] #200 closed

[2016-10-17 09:32] ilya-kush commented on #200
@enriquepiatti thank You. now it works. I will update PhpStorm also.

[2016-10-17 09:45] ghost commented on #201
Thanks a lot, @enriquepiatti, it works great now!

[2016-10-24 10:39] Sartoric opened #202 "IDE error at start - EAP 2016.3 for Mac"
Build #PS-163.6512.15

`com.jetbrains.php.lang.psi.elements.ExtendsList.getReferenceElement()Lcom/jetbrains/php/lang/psi/elements/ClassReference;`

DETAILS :

[code]

[2016-11-07 11:40] Koc opened #203 "My user is disabled"
Hello!

I've payed about October, 18 linsence renew http://easycaptures.com/fs/uploaded/1109/1295151350.png , but today got an error

12:47    Magicento Notification: Magicento user is not valid (Wed Oct 19 00:00:00 EEST 2016)

[2016-11-07 12:07] enriquepiatti commented on #203
Hi @Koc, please contact me by email, this information could not be so safe here in a public space.
Send me an email with your private link (but this is a problem with the license validation, make sure you are puting the correct user code in Magicento settings and that is validated correctly, you will see your username and email below if it's correct)

[2016-11-07 12:07] #203 closed

[2016-11-07 12:55] Koc commented on #203
Looks like I haven't replaced my linsence code with new after renew.

[2016-11-10 00:05] dbashyal opened #204 "version 3.0.2 keeps crashing"
I just upgraded Magicento to version: 3.0.2 (full version)
: to use with Magento ver. 1.14.2.4
: on PhpStorm ver. 2016.2, Build #PS-162.1121.38, built on July 12, 2016

It keeps on crashing when it tries to autocomplete and I am unable to use it. I cleared Magicento cache, disabled "auto disable on crash" option, still, I need to keep clicking on "Enable Magicento"

Any Idea, how to fix this?

[2016-11-10 05:26] enriquepiatti commented on #204
Hi @dbashyal please could you provide more info when exactly is crashing?
Can you add detailed steps?
could you try with a clean Magento project (a clean copy from original code, don't use modman, n98 or any other), open only that clean project and test the autocomplete there, to know if it's a particular problem of the other project.

[2016-11-10 05:39] dbashyal commented on #204
Hi @enriquepiatti,

After I enable Magicento and try to autocomplete (ctrl+space) it crashes (auto disable) then I have to enable again. It never does autocomplete. I have reverted back to previous version and working fine. I would like to take benefit of new version but not sure why it doesn't work for me.

I don't have modman or n98 etc, so it's like a clean project currently :)

[2016-11-10 05:41] dbashyal commented on #204
Also, FYI, I am using windows 7 if that helps.

[2016-11-11 01:45] enriquepiatti commented on #204
it's weird, please send me an email @dbashyal I need more details and maybe some captures, also please try a new clean project anyway just to know if is a particular problem of the project (that we need to solve anyway in that case, but will be easier to find the problem)

[2016-11-11 10:29] Schrank opened #205 "java.lang.NoSuchMethodError: com.jetbrains.php.lang.psi.elements.ExtendsList.getReferenceElement()Lcom/jetbrains/php/lang/psi/elements/ClassReference;"
PhpStorm 2016.3 EAP
Build #PS-163.7743.20, built on November 9, 2016
PhpStorm EAP User
JRE: 1.8.0_112-release-408-b2 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

[code]

[2016-11-11 10:29] Schrank commented on #205
Sorry for duplicate.

https://github.com/enriquepiatti/Magicento/issues/202

[2016-11-11 10:29] #205 closed

[2016-11-11 20:52] enriquepiatti commented on #202
Hi @Sartoric this happens only with EAP, I can't work on bugs for EAP only because the code from EAP versions could change on final release so please use the stable release of PhpStorm.

[2016-11-11 20:52] #202 closed

[2016-11-17 12:19] Schrank opened #206 "Code analysis doesn't finish on EAP"
PhpStorm 2016.3 EAP
Build #PS-163.7743.39, built on November 16, 2016
PhpStorm EAP User
Expiration date: December 16, 2016
JRE: 1.8.0_112-release-408-b2 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

Magicento Version: 3.0.2

![bildschirmfoto 2016-11-17 um 13 19 18](https://cloud.githubusercontent.com/assets/379680/20389159/7c1bb096-acc8-11e6-8cbf-9fca3870341c.png)

[2016-11-17 12:24] Schrank commented on #206
Due to this bug, auto completion doesn't work, this is the main issue :D

[2016-11-18 13:28] enriquepiatti commented on #206
Hi @Schrank, I can't work on bugs for EAP only, please use the last stable version of PhpStorm

[2016-11-18 13:32] Schrank commented on #206
Unfortunatly does the latest PHPStorm stable version has a problem with`if():`. Thanks for the hint :D

[2016-11-23 11:24] W3akness opened #207 "After Installation the plugin Shows Fatal Error"
Hi , i just installed the plugin and got this error

Error Message
`com.jetbrains.php.lang.psi.elements.ExtendsList.getReferenceElement()Lcom/jetbrains/php/lang/psi/elements/ClassReference;`

`com.jetbrains.php.lang.psi.elements.ExtendsList.getReferenceElement()Lcom/jetbrains/php/lang/psi/elements/ClassReference;
java.lang.NoSuchMethodError: com.jetbrains.php.lang.psi.elements.ExtendsList.getRefer

[2016-11-23 16:26] enriquepiatti commented on #207
Hi @W3akness if you are using EAP that's the reason for the error, please change to the lastest stable version:
https://github.com/enriquepiatti/Magicento/issues/202

[2016-11-23 16:51] vy-shmal commented on #207
Perfect, after installing 2016.2.2 , it works correctly.
Thank you

[2016-11-23 18:40] #207 closed

[2016-11-27 14:59] Sartoric opened #208 "Error at start-up (2016.3)"
PhpStorm 2016.3
Magicento 3.0.2

I get it twice. Same message with slightly different error details

`com.jetbrains.php.lang.psi.elements.ExtendsList.getReferenceElement()Lcom/jetbrains/php/lang/psi/elements/ClassReference;`

[code]

[2016-11-27 14:59] Sartoric commented on #208
[code]

[2016-11-27 15:27] enriquepiatti commented on #208
This error is fixed, I will release the new version (v3.1.0) with the bugfix and some extra features in a few days

[2016-11-27 15:27] #208 closed

[2016-11-27 15:30] Sartoric commented on #208
Good :)
Thanks

[2016-11-28 16:52] gdsdougherty opened #209 "Compatibility issue with PHPStorm 2016.3"
There seem to be a few compatibility issues with PHPStorm 2016.3.  Most of the functionality does not seem to work at the moment.

[2016-11-29 10:39] Koc opened #210 "[Magento2] There is no configuration in setting"
Hello!

I've installed plugin for Magento2 and there is no any configuration for it. Is it ok? Also `Alt+M` opens popup menu for Magento1. Can you detect Magento version using plugin and display different menu depends on it using same shourtcut?

[2016-11-29 13:18] enriquepiatti commented on #210
Hi @Koc please read: http://magicento.com/#magicento2_installation

[2016-11-29 13:28] Koc commented on #210
Yes, I've read it.

As I understand correctly - it doesn't works for me.

[2016-11-29 13:40] enriquepiatti commented on #210
@Koc have you changed the shortcut in PhpStorm settings as explained in that section?

[2016-11-29 13:50] enriquepiatti commented on #210
@Koc I think there is a bug with automatic detection, I recommend to change the shortcut to something else for Magicento1 (or 2) to avoid the conflict

[2016-11-29 14:06] enriquepiatti commented on #210
@Koc you need to remove Magicento1 shortcut, leave only Magicento2 shortcut, it should detect automatically if it's a Magento1 or Magento2 project after that.
If for some reason you are seeing the Magicento2 menu on Magento1 projects, then just use the option "Disable Magicento2" from that menu, and then when you use ALT+M again it should use Magicento1 menu

[2016-11-29 14:52] Koc commented on #210
on, now I've got it. Thank you for explanation, it working. Not so intuitive but works.

[2016-12-02 15:10] enriquepiatti commented on #210
Yes I know is not so intuitive, but that's why I wrote the instructions to install Magicento2
Glad to hear is working fine now

[2016-12-02 15:10] #210 closed

[2016-12-02 15:17] Koc opened #211 "[Magento2] Argument for @NotNull parameter 'phpClass' of com/magicento2"
[code]

[2016-12-02 16:00] Koc opened #212 "[Magento2] Add some actions"
* toggle template hints
* flush cache
* create theme
* copy template/layout to theme

[2016-12-07 11:29] Koc opened #213 "Group new -> file actions and disable groups when plugin is not active in project"
See screenshot. It is better create some groups like Magicanto and Magicento2 and put templates under it. And disable groups for non-magento projects.

![2016-12-07_13-26-45](https://cloud.githubusercontent.com/assets/191082/20966008/0a1a4714-bc81-11e6-882c-5a68edb75e77.png)

[2016-12-11 14:29] Koc commented on #212
@enriquepiatti please add copy template/layout to the custom theme. This is very needed action for theme integration

[2016-12-11 18:51] Koc opened #214 "[Magento2] autocomplete and ctrl+click for js/css files in layouts"
[code]

[2016-12-11 20:53] Koc opened #215 "[Magento2] Provide option to clear layout cache after changes in layout xml"
Please add option to exec `php bin/magento cache:clean layout` if layout files changes

[2016-12-11 22:05] Koc opened #216 "[Magento2] Allow jump to original/overriden layout/template"
For example I've overrided layout `Magento_Catalog/category_view.xml` in theme `Vendor_theme`. It would be nice add linemarker for jumping to original layout file from my overriden. And vice versa: show overriden layout files in original. Similar to class inheritance

[2016-12-14 21:57] Koc opened #217 "[Magento2] autocomplete classes in di.xml and layouts"
[code]

ctrl+click works ok, but no any class name autocomplete here

[2016-12-14 22:32] Koc opened #218 "[Magento2] Autocomplete and resolve types for object manager"
[code]

[2016-12-16 10:00] Sanuch commented on #209
HI @enriquepiatti

Any updates?

[2016-12-16 12:32] enriquepiatti commented on #209
Hi @Sanuch yes, what version are you using? last one is 3.1.0:
http://magicento.com/#changelog

[2016-12-16 13:03] Sanuch commented on #209
Hi @enriquepiatti

Ok, thank you

[2016-12-16 13:38] #209 closed

[2016-12-18 15:10] Koc opened #219 "[Magento2] Generate/autocomplete factory classes"
[code]

`CategoryFactory` and `CollectionFactory` marks as undefined because they are generated at runtime. Magicento can detect this kind of classes and create they on the fly and autocompletes it.

[2016-12-20 10:51] Koc opened #220 "[Magento2] Resolve getResource/getResourceCollection/getCollection inside models"
[code]
Method `getEntityType` determinated as undefined. But Magicento can detect that `getResource` method will return instance of `Magento\Catalog\Model\ResourceModel\Category` and override vdoc for getting autocomplete and ctrl+click work properly.

Similar for methods like `getCollection`, `getResourceCollection`.

[2016-12-20 16:20] enriquepiatti commented on #211
Solved. Will be available with the next release (in a few days). Thanks !

[2016-12-20 16:20] #211 closed

[2016-12-29 22:38] Koc opened #221 "[Magento2][1.0] java.lang.NullPointerException"
I've tryed configure remote interpreter and got an exception

[code]

[2016-12-29 22:58] Koc commented on #212
@enriquepiatti I've tryed copy template and it doesn't work: see screenshot https://yadi.sk/i/SJPJmpOa35qrbi

[2016-12-29 23:13] Koc opened #222 "[Magento2] Use native remote interpreter"
I've tryed using some actions like toggle template hints and clear cache. It doesnt work on my env. I have:

* remote project deployed by sftp, see settings https://yadi.sk/i/D4siRXt535qtVi
* configured remote interpreter used for this project https://yadi.sk/i/UmxqLybR35qtih
* Apache with document root `DocumentRoot /home/dev/vhosts/my-super-site.dev/pub` (**pub** folder is document root)

1. I'v

[2016-12-29 23:17] enriquepiatti commented on #212
Hi @Koc can you show me your project structure? (maybe by email if it's private). It seems Magicento didn't find any Theme (it should find at least the blank and admin theme even if you don't have a custom theme in app/design)

[2016-12-29 23:21] Koc commented on #222
https://blog.jetbrains.com/phpstorm/2015/07/remote-tools-via-remote-php-interpreters-in-phpstorm-9/

[2016-12-29 23:29] Koc commented on #212
It is simple theme located in app/design/frontend - https://yadi.sk/i/--m-0Bj835r2Gr . With composer.json, theme.xml and etc. Also this project is remote by sftp.

[2016-12-29 23:33] enriquepiatti commented on #222
Hi @Koc yes I'm aware of that, is in TODO list, but you should be able to use the HTTP (not for commands) at least, is a bit more difficult in your case, because you need to configure some external software (if PhpStorm is not doing correctly) to upload the file generated by Magicento2 to your server.
This is how PHP features works:
1) Magicento creates an eval.php file
2) Magicento saves it in .i

[2016-12-29 23:37] enriquepiatti commented on #221
related with: https://github.com/enriquepiatti/Magicento/issues/222

[2016-12-29 23:38] #221 closed

[2016-12-29 23:41] enriquepiatti commented on #212
@Koc seems to be correct, can you try reindexing the project? File > Invalidate Cache/Restart

[2016-12-30 09:44] pinglu opened #223 "Magicento wrongly rewrites class Mage_Tax_Model_Sales_Total_*"
For all classes within Mage_Tax_Model_Sales_Total_* the correct config.xml rewrite would be:

`
<models>
            <Foo_Tax>
                <class>Foo_Tax_Model</class>
            </Foo_Tax>
            <tax>
                <rewrite>               <sales_quote_totals_tax_shipping>Foo_Tax_Model_Sales_Total_Quote_Shipping</sales_quote_totals_tax_shipping>
...
`

When in the class using Magicent

[2016-12-30 10:58] Koc commented on #212
@enriquepiatti wow, it really works! Thank you.

As improvement - it is better remember last selected theme and preselect it on next action.
Also I think it is possible trigger reindex automatically on plugin updates to prevent any other problems.

[2016-12-30 12:14] Koc commented on #222
Hello and thank you for answer.

yes, you are correct, it uploaded only when I am saving any file. So as woraround currently I am using next: alt+m, flush cache, got error, save any file (eval.php uploaded), alt+m, flush cache (again), got error about timeout :) (yes, it is possible increase timeout). So current implementation is useless for my env. It easier execute native console command via put

[2016-12-30 12:35] enriquepiatti commented on #212
@Koc thanks for the suggestions I will implement that (there is a Magicento2 action inside ALT+M to reindex all Magicento2 indexes only, but I have detected is not refreshing the indexes for Themes, I will fix that too)

[2016-12-30 12:35] #212 closed

[2016-12-30 12:40] enriquepiatti commented on #222
@Koc What is the error about timeout? do you mean that eval.php is executed correctly but is taking too long and you are receiveing a php timeout error on that script?
(try also accessing that eval.php using your browser, you can even debug that file, or edit it manually using PhpStorm as any other PHP file...)

[2016-12-30 12:48] enriquepiatti commented on #223
Hi @pinglu could you explain this better? the class rewrite system is the same for any class, Magicento seems to be doing it correctly, if sometimes works and sometimes not then must be something else in your code

[2017-01-06 12:24] Koc opened #224 "[Magento2] Add autocomplete for helper classes and helper methods"
[code]

[2017-01-10 10:46] Koc commented on #212
see https://github.com/Haehnchen/idea-php-symfony2-plugin/commit/ca9e0411cf38014def74829ec3bc36e1bca0ec31 for similar approach for saving last selected format and make it selected by default (useful for saving last selected theme for copy/override layout/template)

[2017-01-10 15:38] enriquepiatti commented on #212
yes, it's done is not a difficult implementation, will be available with next release don't worry

[2017-01-16 03:09] #223 closed

[2017-01-19 12:40] enriquepiatti commented on #224
I've added the type recognition (v1.2.0) for helpers and object managers, but not sure if we need or is even a good idea to add autocomplete for those strings, the idea is to avoid using the object manager directly in Magento2 (even when they are using in their code, but they are trying to move all those lines to DI too)

[2017-01-19 12:40] #224 closed

[2017-01-19 12:44] enriquepiatti commented on #222
Native PHP Interpreter is ready to use now with Execute Magento2 Command Action (v1.2.0)
To allow PHP features I recommend to use HTTP option, and if it's too hard to sync the created eval*.php (now Magicento creates a different eval for every action) then you can generate them (just try executing the action, it won't works the first time because the eval*.php file is not in your server) and uploa

[2017-01-19 12:44] #222 closed

[2017-01-19 12:57] enriquepiatti commented on #218
Last version (1.2.0) recognizes some Object Manager calls (it needs the explicit string for the class name), but just because Magento2 is using it in their code, remember you need to try to avoid ObjectManager calls directly

[2017-01-19 12:57] #218 closed

[2017-01-19 13:03] enriquepiatti commented on #215
I think this is not needed as a special action.
Right now you can sexecute Magento2 commands with Magicento2, I have added (v1.2.0) some modifications to that dialog to make it more friendly and faster (now you can start typing the command, any part of it, even if you don't remember the command name but the word is included in the command description text) and Magicento2 will autocomplete the comm

[2017-01-19 13:03] #215 closed

[2017-01-19 13:05] enriquepiatti commented on #213
I have removed those files from the menu, but you can edit the templates from PhpStorm settings

[2017-01-19 13:05] #213 closed

[2017-01-19 13:07] enriquepiatti commented on #196
This should work fine with last Magicento2 version (1.2.0), you can config the correct path to Magento2 source in Magicento2 settings.
Please reopen if it doesn't work fine for you

[2017-01-19 13:07] #196 closed

[2017-01-19 13:09] enriquepiatti commented on #195
With last version (1.2.0) your PhpStorm project root does not need to be the same as your Magento2 root folder. You can configura the path to Magento2 from Magicento2 settings.
Please reopen if you find any issue with that option.

[2017-01-19 13:09] #195 closed

[2017-01-19 13:22] idmistir commented on #195
@enriquepiatti This functionality is very useful with custom code structures (e.g modman). Being able to do module development outside the root folder is great to have. I'll test this with M2. With M1, since autocompletion doesn't work outside the project root for me, if I deploy with modman and the symlink gets created, then I get the functionality back.

Thanks!

[2017-01-21 07:07] Koc commented on #213
oh, no, it was useful. Can you just move it to subgroup like MaGinto or PHPUnit?

[2017-01-21 07:25] Koc commented on #218
@enriquepiatti autocomplete for methods works ok, but autocompletes for class names that pass to `get` method not works.

[2017-01-21 13:19] Koc commented on #224
helper methods autocompletes ok, but helper classes not autocompletes (like in #218)

[2017-01-22 22:53] enriquepiatti commented on #213
Why it was useful? It was not the idea to be used in that way, is used internally by other Magicento actions
It could confuse other users
(anyway you can just create your custom template files too and will appear on the list)

[2017-01-22 22:56] enriquepiatti commented on #218
that's because is not a recommended action @Koc you should not use the Object manager directtly, why you need that instead of using DI? if there is a good use of that I will implement it, if not I think is like promoting a bad practice

[2017-01-22 22:56] enriquepiatti commented on #224
same comment in #218 :)

[2017-01-23 15:25] Koc commented on #213
ok, understand, thank you

[2017-01-23 15:35] Koc commented on #224
it used in some original magento phtml templates and useful for some simple changes in theme templates

[2017-01-23 16:57] enriquepiatti commented on #224
yes, it is used by Magento original files (and the team from Magento are saying this is a bad practice, they will change this in the future probably). But that's why I think is ok to have the type recognition (because there is code already using Object Manager directly) but is not needed the autocomplete because we should not write new code in that way.

[2017-01-23 17:06] enriquepiatti commented on #224
Some discussions about this:

http://magento.stackexchange.com/questions/74526/magento-2-accessing-a-helper-without-using-constructor-injection

http://magento.stackexchange.com/questions/10517/instantiating-helpers-in-magento-2

http://magento.stackexchange.com/questions/140409/magento-2-when-to-use-object-manager-in-unit-tests/140455

[2017-01-25 17:17] ipascual opened #225 "NullPointerException: getDocumentFromXmlString"
- Magicento: 3.0.2
- PHPStorm: 10.0.4
- Magento EE ver. 1.14.0.1
- Mac OS Sierra
- Java 1.8.0_102

ERROR: NullPointerException: null
[code]

[2017-01-25 17:33] ipascual commented on #225
Your server magicento.com is down (138.219.41.112). Probably that's why.

[2017-01-27 16:02] enriquepiatti commented on #225
Yes there was a problem with the webserver, is fixed now, but reopen if you are still seeing this bug
Thanks !

[2017-01-27 16:02] #225 closed

[2017-01-27 19:06] AreDubya opened #226 "Magicento 2 Eval.php upload in PHPStorm creation / upload issues."
Hi Enrique,

I am having an issue with Magicento 2 eval.php sync. It's taken several forms.

Setup: PHPStorm 2016.3 on Windows 10. Project files local, with a Vagrant VM setup as an SFTP remote server. Automatic uploads always, watching external changes. Set to use http, put eval in pub/magicento2 folder. Magicento 2 version 1.2.0.

When I have remove eval.php and multiple eval.php unchecked, the

[2017-01-27 19:14] AreDubya commented on #226
As a PS, I've reached out to JetBrains to see what they have to say about the first scenario - in that case the file is created reliably, but never noticed for uploading.

[2017-01-27 19:22] enriquepiatti commented on #226
Hi @AreDubya I think this should work for you:
1) uncheck remove eval.php
2) check use multiple eval.php (this will generate not eval.php but "eval*.php" files different for every action)
3) make sure the new eval*.php files are created
4) upload them manually (you can also edit them before if you want for some reason)
5) execute the actions again, it doesn't matter if the files are not uploaded a

[2017-01-27 22:02] AreDubya commented on #226
Hey @enriquepiatti ,

I had thought of that, but I'm so used to the eval.php shooting onto local instantly the thought of going manual was hard to swallow. Still, it'll do until jetbrains sort out the file watching.

Totally unrelated to this issue, but if you don't mind what the proper settings are for Absolute Path to php interpreter" and Path to bin/magento when using a remote server / interpre

[2017-01-27 22:27] enriquepiatti commented on #226
Don't worry about those settings if you are using HTTP.
Those things are used for example if you want to execute Magento2 commands throught Magicento2 (ALT+M > Execute Magento2 Command). But you can set that there too
But In your case, because you are running Magento2 in VM then you probably need to setup a PHP Remote Interpreter in PhpStorm, and then inside the dialog to execute Magento2 commands

[2017-01-27 22:36] AreDubya commented on #226
Awesome Enrique, and thanks for another great plugin.

[2017-01-27 22:36] #226 closed

[2017-01-30 19:20] AreDubya opened #227 "Error on setup:static-content:deploy from Execute Magento Command window"
Hi Enrique,

I was trying to run setup:static-content:deploy on a specific theme, and kept getting this error

Error: [InvalidArgumentException] "Rw/grad" argument has invalid value, available themes are: Magento/blank, Magento/luma, Magento/backend, Sm/market, Rw/grad setup:static-content:deploy [-d|--dry-run] [--no-javascript] [--no-css] [--no-less] [--no-images] [--no-fonts] [--no-html] [--no-m

[2017-01-30 23:44] AreDubya opened #228 "Commands missing in Execute Magento Commands for one project (Magicento 2)"
Hi Enrique,

I'm having an odd issue with one project where the menu in Execute Magento Commands is missing more than half of the available commands. The configuration is the same as the other projects, the projects are running on the same Vagrant box, using the same Magento version (2.1.2), same deployment strategy, same Magicento settings aside from the last folder name, same permissons on the s

[2017-02-04 08:28] alvinnguyen opened #229 "[Magento 1] com.jetbrains.php.lang.psi.elements.ExtendsList.getReferenceElement() error"
@enriquepiatti

This bug from EAP has moved into Stable release (#202 #205) on Mac OS

PhpStorm 2016.3.2
Build #PS-163.10504.2, built on December 21, 2016
JRE: 1.8.0_112-release-408-b6 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

Having this issue on Magicento 2.9.0 when trying to create Grid and Form

[code]

[2017-02-04 16:23] enriquepiatti commented on #229
Hi @alvinnguyen please update to the last version, 2.9.0 is old, last version is 3.1.0

[2017-02-13 20:34] matiasserrano opened #230 "[New Feature - Magicento 1] - Create/add installers and data installers"
would be great to have in Magicento 1 the ability create/add new installers and data installers to the modules.

[2017-02-14 22:44] luke-denton opened #231 "How to download version 2 of Magicento?"
I was provided a link at my workplace to a version of Magicento 1 and was told that to download version 2, all I have to do is append `&v=2` to the end of the URL. I tried that, and also tried editing the HTML on the page so that the link on the page has the same addition to the URL, but both times I still got version 1 of Magicento.

How do I download version 2?

[2017-02-14 23:55] enriquepiatti commented on #231
Hi @luke-denton, this is only for posting issues with the plugins, but anyway, Magicento2 is a different product, you need to buy a license for it, the reason why it was available free with "v=2" parameter before is because it was a beta version, now it has a stable release, please go to www.magicento.com for more info

[2017-02-14 23:55] #231 closed

[2017-02-19 13:54] enriquepiatti commented on #228
Hi @AreDubya have you solved this? I think must be an issue with your indexes, try clearing Magicento 2 indexes, or use File > Invalidate Cache Restart option. The commands are read directly from the code.
If the problem persist then can you detect some pattern on the commands Magicento2 is not detecting? maybe they are in some specific folders, or are custom commands created by you etc

Regarding

[2017-02-19 14:10] enriquepiatti commented on #227
@AreDubya this error happens only when using PHP Interpreter for the commands, but will be fixed in next version. Thanks !

[2017-02-19 14:10] #227 closed

[2017-02-24 19:32] z1haze opened #232 "Remote project problems"
I have this plugin installed and configured with a remote project, so I have upload the eval_null.php to the pub/magicento2 folder.

I had created a module then deleted it.. Now when I go into the magicento context menu to create a new module by that same name of the one I delted, it tells me it already exists..  What is going on with this?

I also cannot execute the clear magento cache command th

[2017-02-24 19:32] z1haze commented on #232
I also was not aware that I would not be able to come back and find the download link again so now I dont have that either.

[2017-02-24 20:58] enriquepiatti commented on #232
Hi @z1haze, clear Magento2 cache is to clear the cache in your Magento2, not Magicento2. To clear Magicento2 cache please use "Refresh Magicento2 Indexes" if that does not work try using File > Invalidate Cache Restart.

If you are having problems with the PHP features, since you are using a remote server it could be due to some problem with the settings, I can help you with that but please send m

[2017-02-26 17:56] z1haze commented on #232
What is your email?

[2017-02-27 13:41] z1haze commented on #232
Hi, please give me your email. Your plugin is not working correctly, and I need to send you this screenshot. Also the suggestions you gave for fixing the magicento caching of deleted modules did not fix either. thanks.

[2017-02-27 13:47] enriquepiatti commented on #232
@z1haze my email is in magicento.com: contacto@enriquepiatti.com

[2017-02-27 13:51] z1haze commented on #232
Please note this screenshot: http://img.stephenhendricks.me/phpstorm64_2017-02-27_08-50-24.png the Module TradeGlobalDevelopment_TGCommerce no longer exists, but no matter what I do, following your instructions earlier, it never goes away.

[2017-02-27 13:54] z1haze commented on #232
Here are my settings: http://img.stephenhendricks.me/phpstorm64_2017-02-27_08-55-33.png

[2017-02-27 14:19] enriquepiatti commented on #232
@z1haze are you sure the module TradeGlobalDevelopment_TGCommerce was correctly removed from your /app/etc/config.php file?

[2017-02-27 15:49] #232 closed

[2017-03-08 14:52] pacbroens opened #233 "IDE Error after clicking any new item in 'option+m' menu"
This morning I updated to the latest magicento2 version. And applied the latest PHPStorm patch. Enabled the plugin, opened 1 project (magento2 obviously) and tried the new features, but every item I click in the popup menu results in an error:

[code]

After that the plugin popup does still work, except thus for the new items in there.

I hope you can help me with this, thanks in advance!

[2017-03-09 09:22] zupermanzupereroe opened #234 "[Magento2] NullPointerException when using plugin"
Hi Enrique,

I have some serious problem with PhpStorm 2016.2.2 (magicento2, version 1.3.0) on Linux Mint 18.

When I click Create Controller or Create New Theme or Create CRUD Model or Create Setup Files or Create Admin Menu I get the NullPointerException from the IDE.

For example if I click on Create Controller I get the following exception:

[code]

Am I missing something in my configuration?

[2017-03-09 19:28] enriquepiatti commented on #234
Hi @zupermanzupereroe seems that Magicento2 is detecting some module but is not being able to find the file path for that module, are you sure you have all your modules up to date in Magento2?
You can also try clearing Magicento2 indexes (ALT+M ...) or PhpStorm cache (File > Invalidate cache restart)
Let me know if that helps (I will add a warning to this in next version anyway)

[2017-03-09 19:29] enriquepiatti commented on #233
Please see #234

[2017-03-09 19:29] #233 closed

[2017-03-09 19:54] zupermanzupereroe commented on #234
Hi Enrique,

Refreshing Magicento2 Indexes fixed the issue. :)

Thanks

[2017-03-09 19:54] #234 closed

[2017-03-15 16:07] bsdnomad commented on #234
Hello,

Upgrade from 1.2.0. to 1.4.0 causes NullPointerException to get thrown even while invoking Magicento2 menu with Alt+M. Neither index refresh, nor full index rebuild resolve the issue. Here's stack trace:

`java.lang.NullPointerException
	at com.magicento2.models.phpclass.ResourceModel.isResourceModel(ResourceModel.java:27)
	at com.magicento2.actions.Magicento2ActionAbstract.isResourceModel

[2017-03-16 00:34] enriquepiatti commented on #234
Hi @bsdnomad, you are right, there is a bug (will be fixed in new release) but it should happen only if you use ALT+M when editing some "php" file without any class (for example registration.php or inside the PHP part from some .phtml), so you should be ok avoiding those files as a workaround

PS: you can also download and instlal Magicento again I have added a quick bugfix to that

[2017-03-31 18:38] rhift opened #235 "NullPointerException"
[code]

[2017-04-30 14:36] Koc commented on #216
please add this feature

[2017-04-30 15:05] Koc opened #236 "[Magento2] Lenemarkers duplicates in templates"
There are 2 linemakers instead 1.

![2017-04-30_18-03-27](https://cloud.githubusercontent.com/assets/191082/25565455/7c66d098-2dcf-11e7-98e3-841683deb815.png)

[2017-05-01 15:16] Koc opened #237 "[Magento2] Add new action - create console command"
Allow quick command creation from `alt+m`:
1. create command class
2. create/update di.xml with newly created command

[2017-05-01 15:46] Koc opened #238 "[Magento2] Object manager return types not resolved propertly"
[code]

[2017-05-01 16:16] Koc commented on #220
![2017-05-01_19-15-28](https://cloud.githubusercontent.com/assets/191082/25585338/ab4451a0-2ea2-11e7-8560-a8c097118d8e.png)

Also would be nice resolve collection iterators

[2017-05-01 17:04] Koc commented on #220
Also noticed that `create new crud model` generates invalid phpdocs

[code]

something wrong with placeholders `${RESOURCENAME} `

[2017-05-02 13:26] sergy-gzh opened #239 "[Magento 2] Argument for @NotNull parameter 'file' of com/magicento/models/layout/LayoutFile.<init> must not be null"
PhpStorm 2016.3.2
`In file: file:///var/www/magento.local/vendor/magento/module-catalog-search/Model/ResourceModel/Fulltext/Collection.php: Argument for @NotNull parameter 'file' of com/magicento/models/layout/LayoutFile.<init> must not be null
java.lang.IllegalArgumentException: Argument for @NotNull parameter 'file' of com/magicento/models/layout/LayoutFile.<init> must not be null
	at com.magice

[2017-05-03 08:43] kkrieger85 commented on #203
Same for me: I bought my first license with an other email/username than I bought my second license.

@enriquepiatti How to fix that? I cannot change Username/email in PHPStorm

[2017-05-03 15:10] enriquepiatti commented on #203
@kkrieger85 contact me by email for problems with your license, I can't help you from here, is a public thread

[2017-05-04 00:29] enriquepiatti commented on #239
Hi @sergy-gzh are you using Magicento1 with Magento2 code? you need a different plugin for Magento2, please check www.magicento.com

[2017-05-04 01:07] enriquepiatti commented on #236
solved, will be available in next version (1.5+)
Thanks!!

[2017-05-04 01:07] #236 closed

[2017-05-04 01:08] enriquepiatti commented on #238
solved, will be available in next version (1.5+)
Thanks!!

[2017-05-04 01:08] #238 closed

[2017-05-04 08:36] sergy-gzh commented on #239
@enriquepiatti its a little bit different. I had magicento 1 and magicento 2 on my magento 2 project.
Disabling magicento 1 seems to solve the issue

[2017-05-04 08:36] #239 closed

[2017-05-04 13:42] enriquepiatti commented on #239
Yes, you can use both versions, but you need to remove the shortcut for M1 and disable it (on the project, not the plugin itself), is explained here.
http://magicento.com/#magicento2_installation

[2017-05-04 15:33] Koc opened #240 "[Magento2] Autocomplete css validation classes"
http://blog.i13websolution.com/magento-2-validation-rules/

[2017-05-04 16:17] Koc opened #241 "[Magento2] Add ctrl+click and autocompletion for requirejs config files"

[2017-05-08 10:33] PascalBrouwers opened #242 "Cannot create plugin for public function."
Cannot create plugin using the lightbulb menu for a public function.

Magicento 2 version 1.4.2
I get this error message or something about refreshing indexes (which does not help).

[code]

I tried reindexing and tested this for several projects, but using this new version no longer allows me to create plugins for public functions.

[2017-05-15 05:24] enriquepiatti commented on #242
Hi @PascalBrouwers are you sure your project is configured correctly? it seems Magicento2 cannot find any module and that's what you get that error.
Try forcing a strong reindex: File > Invalidate Cache Restart
also please test if the modules are detected correctly, use another action like "ALT+M > Create Controller" and check if the Module Destination dropdown is filled correctly with your editab

[2017-05-16 01:08] dbashyal commented on #204
Just sent you email. thx

PhpStorm: 2017.1.3
Magicento ver: 3.0.2
Windows: 10

[error-2.txt](https://github.com/enriquepiatti/Magicento/files/1002894/error-2.txt)
[error-1.txt](https://github.com/enriquepiatti/Magicento/files/1002893/error-1.txt)

[2017-05-16 02:07] enriquepiatti commented on #204
Hi @dbashyal you are using an old version, that version is not compatible with PhpStorm 2017, please update Magicento or use an old version of PhpStorm (probably older than 2016)

[2017-05-16 02:40] dbashyal commented on #204
thx. upgraded and fixed.

[2017-05-16 02:40] #204 closed

[2017-05-25 07:57] ppadmapati opened #243 "PhpStorm 2017.14 - Magicento 2.0 unable to run test PHP"
Hi,

I installed the magicento 2.0 plugin yesterday and was trying to run "Test PHP". Nothing happens when I click "Apply Changes" and I get the message "Please Apply Changes first" when I click on "Test PHP". Tried different variations but getting the same outcome.

Regards,
Pranjal

[2017-05-25 15:11] enriquepiatti commented on #216
@Koc try downloading Magicento2 and installing it again, this feature should be available in 1.5+ (read the changelog to know how to use it)

[2017-05-25 15:11] #216 closed

[2017-05-25 15:21] Koc commented on #216
@enriquepiatti how can I download it again? I've forgot my download link. Can you resend it to my email? (koc-dp@yandex.ru). It would be nice add form on the site where users can enter own email and got actual download link.

[2017-05-25 15:38] enriquepiatti commented on #216
@Koc I have sent you the link
But I recommend to save the link somewhere, should be also in your email, you can mark that in your inbox and you can search for that. Also the download link is always: http://www.magicento.com/rest/plugin/download?key=[YOUR KEY HERE]. But you don't need that either, if you have Magicento2 already installed it will give you a notification about a new version and you w

[2017-05-25 15:40] enriquepiatti commented on #243
Hi @ppadmapati what version of Magicento2 and PhpStorm are you using? please send me an email, I will need some screenshots

[2017-05-25 15:56] Koc commented on #216
@enriquepiatti  thank you. Changelog looks like not updated on site http://easycaptures.com/fs/uploaded/1045/9948011904.png

Can you create linemarker instead of action in next version? It would be much semantic (like class inheritance).

[2017-05-25 15:59] Koc commented on #238
@enriquepiatti awesome, helps a lot, thank you! One small thing: it doesn't work with `class` constant:

[code]

[2017-05-25 16:05] enriquepiatti commented on #216
changelog is in your plugin description, will be updated with the official release in some days.
Regarding to the linemarker I think it will consume more resources I guess, I need to test it.
And take into account linemarker will be only on the top of the file, you can see faster right now just using ALT+M everywhere on the file if it has an override or not, and jump to it, all with the keyboard n

[2017-05-25 16:10] ppadmapati commented on #243
Hi @enriquepiatti,

Thanks for your prompt response. I am very new to the platform and, hence,
you will have to guide me to the screenshots you need. However, I am
sending you the screenshot I think will be useful to you.

PhpStorm Version - 2017.1.4
Magicento Version 2. I don't know if there is a more specific version
number. Providing my order number in case it helps you -
*8UW1332201183852C*

S

[2017-05-25 16:30] enriquepiatti commented on #243
@ppadmapati I had to remove your post, this is a public thread, don't post your private info here please, send me an email

[2017-05-25 21:21] enriquepiatti commented on #238
added support for that too (available in next release 1.6+)

[2017-05-25 21:35] Koc commented on #220
looks like types resource models and collections are resolved properly, thank you very much. Still remains to implement:

- `getItems`
- iterator (when iterating collection using foreach without calling `getItems`)

[2017-05-26 00:21] enriquepiatti commented on #243
fixed in 1.6+
workaround (for v1.5 or before): select your editable modules from Magicento2 settings, don't leave it empty

[2017-05-26 00:21] #243 closed

[2017-05-26 11:14] halk commented on #199
Thanks @enriquepiatti

Looking forward to that

[2017-05-26 11:14] #199 closed

[2017-06-13 15:44] rhift opened #244 "null pointer exception"
Magicento 2:

[code]

[2017-06-14 18:21] enriquepiatti commented on #244
Hi @rhift, what version of Magicento2 are you using?

[2017-06-15 16:11] Koc opened #245 "[Magento2] Generate plugin produces wrong syntax code"
I've tryed to generate plugin and got new class

[code]

it has syntax errors

[2017-06-15 16:29] Koc commented on #245
Also it asks for scope - but does scopes affects plugins?

[2017-06-15 21:55] enriquepiatti commented on #245
Thanks @Koc I have corrected the typo, also changed to callable instead of Closure, will be available in next release
Regarding to the area, is not needed, but you can use it, please read for more info:
http://devdocs.magento.com/guides/v2.1/extension-dev-guide/plugins.html#configuration-inheritance

[2017-06-15 22:05] Koc commented on #245
want write about callable also but you fix it faster :) thank you

[2017-06-16 12:10] Koc commented on #219
@enriquepiatti please, please, please, fix this :)

[2017-06-16 13:50] Koc commented on #242
Similar problem, have tryed create plugin for intrerface

[code]

[2017-06-16 21:20] enriquepiatti commented on #219
@Koc what is your proposal? if the classes are created when Magento is executed, is not easier just to run Magento and let PhpStorm find the class after that?

[2017-06-16 21:22] enriquepiatti commented on #242
does it happen with all methods or only on that interface?
are you using ALT+ENTER or the light bulb icon?

[2017-06-18 15:29] Koc commented on #242
for now - try create plugin on method of the class by alt+enter

[code]

[2017-06-19 21:05] Koc opened #246 "[Magento2] copy to theme action doesn't work for web templates"
It works ok fof phtml templates but doesn't work for html templates inside web dir (knockoutjs templates)

[2017-06-19 21:08] Koc commented on #219
Some project created as remote project by sftp. And we need each time make sync for downloading factory classes. And newly just created classes haven't factories unntil they will requested - so no any autocomplete here. Magento has long namespaces and easy make mistake and type wrong class or ns.

[2017-06-21 14:26] Koc opened #247 "[Magento2] Find usages of the interface method produces an exception"
[code]

[2017-06-21 15:54] enriquepiatti commented on #219
OK, but what is the proposal for that then? PhpStorm need the class, the only solution I can think is to create a fake class somewhere, but then it could confuse the code when you do the sync with the real class, I will think about it a bit more... but you don't have a local Magento2 in your environment? to test your code? it should be enough to create the classes just executing your local Magento

[2017-06-22 14:55] Koc opened #248 "[Magicento2] Add new action - create observer for event"

[2017-06-22 15:05] Koc commented on #248
Also there is no autocomplete for classes

[code]

[2017-06-22 20:35] enriquepiatti commented on #248
There is an intention to create observers:
Create Observer intention. Use ALT+ENTER when cursor is over some eventname string in dispatch method and select Create Observer. ->dispatch('[ALT+ENTER HERE]')
I'm working on better autocomplete for XML files too

[2017-06-22 22:05] Koc commented on #248
IMHO this is not intuitive behavior. Some actions available on alt+m, some on ctrl+enter. Also sometimes is impossible generate observer for events like

[code]
Better to be consistent: add new action alt+m - create observer (below search events) with event name field wich autocompletes events

[2017-06-22 22:22] enriquepiatti commented on #248
@Koc is consistent with the way PhpStorm works. PhpStorm uses intention actions (ALT+ENTER shortcut) to create code depending on the element under current cursor position, PhpStorm allows to create a method, property, class etc in this way, and Magicento is adding things like observers, dependencies, plugins etc.
Magicento tries to extend all the normal shortcuts from PhpStorm, that's why you can

[2017-06-22 22:25] enriquepiatti commented on #248
regarding to that event, is really hard to guess what is the full event name when it's dynamic like in that case

[2017-07-04 16:02] Koc opened #249 "[Magento2] Add new action - override class using Preference"

[2017-07-06 10:00] Rud5G opened #250 "Installation issue: Magicento2 (for Magento 2.x)"
I cant get Magicento2 (for Magento 2.x) working, when go to the settings: "Other settings", "Magicento2", after installing the magicento2.jar. PhpStorm freezes: nothing happens when i click "Ok" or "Apply".

[2017-07-06 10:03] Rud5G commented on #250
@enriquepiatti Im using PhpStorm 2017.1.4

[2017-07-06 10:05] Rud5G commented on #250
The second time (after closing PhpStorm) showing the settings:

![image](https://user-images.githubusercontent.com/27158/27906290-41570c22-6243-11e7-895f-d8fd96c8063c.png)

[2017-07-06 10:10] Rud5G commented on #250
[code]

[2017-07-06 16:18] Koc commented on #214
also ctrl+click on templates not work sometimes

[code]

plugin not seen overrided template but Magento does

[2017-07-06 17:57] enriquepiatti commented on #250
Hi @Rud5G please make sure you have a project opened in PhpStorm (it's better if it's a Magento2 project) and also let me know your OS and how are you accessing to PhpStorm settings

[2017-07-06 19:06] mmswebinternet opened #251 "[Magento1] Error creating Adminhtml Controller with custom admin route"
Can't create a adminhtml controller if I have a custom route for my store admin in local.xml. See image attached.

My etc/local.xml configuration of custom admin url, generated by Magento Installer:
` <admin>
        <routers>
            <adminhtml>
                <args>
                    <frontName><![CDATA[backoffice]]></frontName>
                </args>
            </adminhtml>
        </r

[2017-07-09 22:46] Koc opened #252 "[Magento2] Allow create controller when route already exists"
Currently when I create new controller, plugin asks me for route id and front name. And when I create second or third controller - it asks this params again. Also it append them to `routes.xml`.  As I understand correctly - it requires only for first controller in module. It is needed remove generated stuff from `routes.xml` each time on new controller creation.

[2017-07-10 13:36] Koc opened #253 "[Magento2] Exclude tests from project"
Almost each Magento 2 module comes with tests. All of them are indexed. Also goto class/file or search goes through them. Usually I'm just adding them to ignored forlders. But in typical Mage2 project we need mark it as excluded for each composer module.

IMHO this plugin can do it programatically depends on config option.

[2017-07-10 13:39] Koc commented on #253
ref https://github.com/Haehnchen/idea-php-phpunit-plugin/issues/20

[2017-07-10 17:00] enriquepiatti commented on #251
Hi @mmswebinternet thanks for reporting, please download and install Magicento again v3.1.2 should have this bug fixed

[2017-07-10 17:00] #251 closed

[2017-07-10 17:16] Koc commented on #219
I am testing my code on virtual machine and it configured as sftp https://www.jetbrains.com/help/phpstorm/creating-a-remote-server-configuration.html

The other problem that Magento generates too many `Interceptor`s classes. And this classes should be ignored. But they are located not in separated folders, between factories. So better way just ignore full var dir and generate fake factory classes

[2017-07-11 20:41] enriquepiatti commented on #219
I don't see very clear this solution, or even if it's a good idea, normally you have a local environment to test, because is faster too, and you can break it without messing other things, and also because you can debug it, and when you debug the code you will probably need those interceptors and factory, the real ones.
I guess you could sync in both ways your SFTP, so your local project will downl

[2017-07-12 08:31] Koc commented on #219
Magento 2 not supports Windows oficially http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements-tech.html . I am working on Windows with Ubuntu launched on Virtualbox.

Also on Linux it runs faster.

[2017-07-13 22:19] enriquepiatti commented on #219
Yes but you can sync your code in both ways anyway with SFTP, just download the var/generation folder from your Magento2 and PhpStorm will recognize and use the real classes

[2017-07-15 20:13] enriquepiatti commented on #252
Thanks @Koc I have added support for existent routes, will be available with v1.6 soon

[2017-07-15 20:13] #252 closed

[2017-07-15 20:40] Koc commented on #220
also when I call any method which returns `$this` (for example `load`) - plugin looses resolved types

[code]

[2017-07-15 23:51] enriquepiatti commented on #220
@Koc why you are using a for like that? load is not needed, is automatically called if needed when you are looping the collection

[2017-07-16 14:41] Koc commented on #220
`load` just for example

[2017-07-16 15:55] Koc opened #254 "[Magento2] Magicento conflicts with composer plugin setting "Add packages as libraries""
I've configured composer plugin:
![default](https://user-images.githubusercontent.com/191082/28249127-c61505a0-6a58-11e7-8a05-cf97391de2f1.png)

after this all vendor folders added to ignore list
![default](https://user-images.githubusercontent.com/191082/28249134-d95bb24e-6a58-11e7-9437-d1e6f319c5de.png)

it is normal case. In fact they are properly indexed by phpstorm (for example Symfony2 plugi

[2017-07-16 16:27] Koc opened #255 "Typing letter "m" suggests "massdeleteaction""
Looks like this is code generation from Magicento1, but this project using Magicento2

![default](https://user-images.githubusercontent.com/191082/28249342-9dcf5bd2-6a5c-11e7-8201-3994f797980a.png)

![default](https://user-images.githubusercontent.com/191082/28249345-afb745a8-6a5c-11e7-92de-986d14de85ef.png)

[2017-07-16 17:19] Haehnchen commented on #254
libraries are inside `allScope`

[code]

[2017-07-16 19:33] Koc commented on #254
thanx @Haehnchen, you are the best as always 👍

More info about "Add packages as libraries" setting
https://www.jetbrains.com/help/phpstorm/using-composer-dependency-manager.html

[2017-07-18 14:38] Koc commented on #247
got this error again
[code]

[2017-07-18 14:40] Koc commented on #219
How can we stop this madness with intercepror classes and exclude they from any search by default?

![default](https://user-images.githubusercontent.com/191082/28322977-31757d38-6be0-11e7-919e-b9f6507c8ccf.png)

[2017-07-18 15:07] Koc commented on #248
Generated class namespace duplicates `Observer` subnamespace

[code]

[2017-07-19 09:01] Koc opened #256 "[Magento2] Some overriden templates are not visible from layouts"
Extend some standard layout in my custom theme and copy block template to it.

[code]

ctrl+click `Magento_Catalog::product/list.phtml` goes to original file - my overriden template not visible here, but Magento loads it correctly.
If I write `product/list.phtml` - it propose multiple implementations. Not sure does multiple implementation make sense in overriden/extended layout in case that templa

[2017-07-19 09:36] Koc commented on #255
Looks like you have selected too much items in live templates

![default](https://user-images.githubusercontent.com/191082/28360673-d1fb80a6-6c7e-11e7-8813-681aea4f3bb0.png)

[2017-07-19 13:10] Koc opened #257 "[Magento2] PHPStorm 2017.2 compatibility"
Looks like currently plugin has some incompatibilities

[code]

[2017-07-19 14:18] Koc commented on #240
http://inchoo.net/magento-2/validate-custom-form-in-magento-2/

[2017-07-19 14:23] rhift commented on #257
Just received the same on El Capitan, PHPStorm 2017.2, Magicento 2 1.5.0

[2017-07-19 17:52] enriquepiatti commented on #220
can you show real examples where you need that? (is a bit difficult to detect the return this on PHpStorm due the way they manage the index)

[2017-07-19 18:02] enriquepiatti commented on #219
Not sure if that's possible. But you could just search inside app/code or inside vendor folders.
Or I guess you could just ignore those results, they are easy to identify.
But let me know if this is becoming a problem for some other reason, or is slowing you somehow

EDIT: actually, I think you could also create a custom "scope" and search on that always

[2017-07-22 22:11] Sartoric opened #258 "[Magento 1] - PHPStorm 2017.2"
I'm getting this after each restart.
The plugin is enabled, but it's inactive for the project loaded.

`Cannot find Magicento Settings (if you think this is a bug please send the trace to issues@magicento.com)
java.lang.Throwable
	at com.intellij.openapi.diagnostic.Logger.error(Logger.java:132)
	at com.magicento.helpers.IdeHelper.logError(IdeHelper.java:118)
	at com.magicento.MagicentoSettings.get

[2017-07-25 09:54] Koc commented on #257
On each project that I am opening. Very annoying
[code]

[2017-07-25 16:12] enriquepiatti commented on #257
Error: "Cannot find Magicento Settings" was fixed, just download the new version (Magicent1 v3.1.3)
Intention Description Dir URL is null (from Magicento2) is fixed too, I will try to release the new version tomorrow
Thanks !!

[2017-07-25 16:12] #257 closed

[2017-07-25 16:30] proxium commented on #258
Cannot find Magicento Settings (if you think this is a bug please send the trace to issues@magicento.com)
java.lang.Throwable
	at com.intellij.openapi.diagnostic.Logger.error(Logger.java:132)
	at com.magicento.helpers.IdeHelper.logError(IdeHelper.java:118)
	at com.magicento.MagicentoSettings.getInstance(MagicentoSettings.java:110)
	at com.magicento.MagicentoProjectComponent.getMagicentoSettings(Ma

[2017-07-27 00:46] enriquepiatti commented on #258
Hi @Sartoric please download the last version (3.1.3)

[2017-07-27 00:46] #258 closed

[2017-07-27 19:28] Koc opened #259 "PHPStorm crashes sometimes on project exporing or navigation to file"
This issue occurs time to time. I've recorded the video - crash with enabled plugins and no crash when both plugins are disabled.

http://youtu.be/tV0U3KJDYn8?hd=1
Also I've attached phpstorm error log.

[java_error_in_phpstorm_10472.log.txt](https://github.com/enriquepiatti/Magicento/files/1181036/java_error_in_phpstorm_10472.log.txt)

[2017-07-28 10:31] Koc commented on #259
external issue https://youtrack.jetbrains.com/issue/WI-34324 (closed by PHPStorm team)

[2017-07-28 16:35] enriquepiatti commented on #259
@Koc is the conflict with Magicento1 or Magicento2?
Also, can you detect another error, with a better stack trace before the IDE crashes?

[2017-07-29 09:18] Koc commented on #259
What another error? How can I get this better stack trace?

[2017-07-29 09:46] Koc commented on #259
aah, I understand. Another error is https://github.com/enriquepiatti/Magicento/issues/257

[2017-07-29 16:13] enriquepiatti commented on #259
OK, is with Magicento1 or Magicento2? please disable only one not both at the same time to test that
And after that also try disabling the plugin from Magicento settings (not from Plugins settings) to see if that solves the problem too or even when is disabled from the settings is crashing the IDE

[2017-08-01 15:34] riconeitzel commented on #193
@enriquepiatti I'm sure you can close this one

[2017-08-01 17:50] #193 closed

[2017-08-02 12:35] HeadlineInteractive opened #260 "Typing results in backwards words Magicento 2"
1. Open Magicento 2
2. Create Controller
3. Type Category results in yrogetaC in all fields

[2017-08-02 20:56] Koc commented on #257
@enriquepiatti any change to get fresh release for Magento2?

[2017-08-02 21:09] Koc opened #261 "[Magento2] Add new action - create router"

[2017-08-03 16:48] enriquepiatti commented on #260
Hi @HeadlineInteractive what Magicento and PhpStorm and OS are you using?
I cannot reproduce this bug, I have asked to Jetbrains team too and they don't have any clue about what could be causing this (the UI components are created by them, not Magicento).
But some other user told me about this too in the past, I think he solved it reinstalling PhpStorm and Magicento, or maybe was some other confli

[2017-08-04 06:59] headlinedev commented on #260
Hi @enriquepiatti after rebooting my system it is working again. Thanks for the reply

[2017-08-04 06:59] #260 closed

[2017-08-05 03:38] enriquepiatti commented on #255
Thanks @Koc, you can download v3.1.4 (use your private link) to fix that (now only "Statement" option should be selected for Live Templates from Magicento) or just unselected them directly from those settings (maybe even easier than reinstalling Magicento)

[2017-08-05 03:38] #255 closed

[2017-08-05 04:53] enriquepiatti commented on #257
Hi @Koc, try downloading Magicento2 again, version 1.6.0 should be available now

[2017-08-05 04:53] enriquepiatti commented on #248
fixed in 1.6.0

[2017-08-05 04:53] #248 closed

[2017-08-05 04:54] enriquepiatti commented on #247
fixed in 1.6.0

[2017-08-05 04:54] #247 closed

[2017-08-05 07:39] Koc opened #262 "Add private office/restore download link on magicento site"
Hello!

New version of Magicento and Magicento2 is out, but I haven't option download new version on `alt+m`. I need download link, but it somewhere in my big inbox. Please add possibility restore download link to your products (just enter email and got download links for all products).

Or add private office where I can get info about my products and their expiration date.

[2017-08-05 07:39] Koc commented on #262
Also you can send newsletters with download link if new version is out.

[2017-08-05 07:44] Koc commented on #255
good

[2017-08-05 07:45] Koc commented on #257
Thank you for your work

[2017-08-05 07:46] Koc commented on #247
good, will check

[2017-08-05 11:33] Koc opened #263 "[Magentto2] Rename refactoring not updaes xml configuration"
1. create plugin for some class (maybe affects not only plugins)
2. rename plugin class (Refactor - Rename)
3. xml `type` attribute follows to old class name, expected new class name

[2017-08-05 12:57] Koc opened #264 "[Magento2] Add autocomplete of action classes or even outsource some functionality to php-toolbox plugin"
Hello!

`Magento\Framework\App\ActionFactory::create` expects any class name which implements `\Magento\Framework\App\ActionInterface`. So you can add autocomplete of this classes (strings and `::class` notations).

But I thing that there are lot of other similar simple cases, when method expects class name of interface implementation. So in my opinion you can not write code for each case but prov

[2017-08-05 13:00] Koc commented on #264
Also you can provide some Magento-specific providers like https://github.com/Haehnchen/idea-php-toolbox/blob/master/src/de/espend/idea/php/toolbox/provider/php/ClassInterfaceProvider.java and end-user of Magicento got availability of writing own json.

[2017-08-05 16:20] enriquepiatti commented on #262
Download option could take some time to appear, but inside your Magicento settings you have your user code, you can download Magicento just using that:
http://www.magicento.com/rest/plugin/download?key=[YOUR CODE HERE}
I will add that inside the settings too just in case

[2017-08-05 16:20] #262 closed

[2017-08-05 18:02] rhift commented on #244
@enriquepiatti - Just updated to 1.6.0 and pretty sure this is fixed.  Previous was 1.5.0. ty!

[2017-08-05 20:00] #244 closed

[2017-08-08 13:37] Koc opened #265 "[Magento2] Create plugin does not imports the class"
[code]

got
[code]

expexted FQCN `ResponseInterface` or imported class.

[2017-08-10 20:13] rhift opened #266 "Cannot find Magicento Settings"
PhpStorm 2017.2.1
Build #PS-172.3544.41, built on August 2, 2017
JRE: 1.8.0_152-release-915-b6 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Mac OS X 10.11.6

Magicento2 1.6.0

[code]

[2017-08-11 14:17] Koc commented on #263
relates to https://github.com/Haehnchen/idea-php-symfony2-plugin/issues/187

[2017-08-11 14:19] Koc commented on #249
please add this functionality

[2017-08-12 14:24] enriquepiatti commented on #266
Hi @rhift that's not from Magicento2, is Magicento1, please update it. Check the changelog in magicento.com

[2017-08-12 14:24] #266 closed

[2017-08-22 12:40] Rud5G commented on #250
@enriquepiatti thanks.
i probably did this without noticing, last time i tried the plugin, i didn't have this problem anymore.

[2017-08-26 14:47] Koc commented on #265
also when target class hasn't any argument - we got invalid code

[code]

[2017-08-26 14:48] Koc commented on #265
seems like #245 returns

[2017-08-26 16:16] #250 closed

[2017-09-02 16:17] Sartoric opened #267 "[Magento1] PHPStorm 2017.2.2 - "Create module" doesn't create Model folder"
Hi
I've just faced this strange issue.

I have 2 almost equal projects (same folders/files) but one is generated from a Git (and under VCS) the other one is a "standalone" project.

When I run "Create Module" with "include model" option set, the Model folder isn't created on the "Git" one.
No problem for the "Standalone" project.
No errors or notification during (or after) the process.

Is there a

[2017-09-02 16:26] Sartoric commented on #267
Ok ... my fault.

For everyone knowledge
I didn't noticed I was in "Project Files" view instead of "Project" view, so the Model folder is hidden as it is empty.

Trying to manually creating it was giving me the "folder already exists" error.

[2017-09-02 16:26] #267 closed

[2017-09-19 13:10] janssens commented on #69
+1 using magicento & modman would be great

[2017-09-19 17:25] cesaric commented on #256
Same. It appears Magicento 2 is indexing only module templates and not theme templates.

It will always looks/code hints in:
**module_dir/view/frontend/templates/path_to_templates**

But never in:
**theme_dir/Namespace_Module/templates/path_to_templates**

Btw, I've done the "Invalidate Caches/Restart" and "Refresh Magicento2 Indexes" countless times with no luck.  Unless I'm missing something wit

[2017-09-20 14:48] orlangur commented on #219
@Koc just mark `var` directory as excluded.

[2017-09-20 14:53] Koc commented on #219
@orlangur in this case there is no autocomplete of factory classes and I've got a tons of undefined factory classes. And no autocomplete of `$factory->create()->...`

[2017-09-20 14:58] orlangur commented on #219
True, just noticed all but `var/generation` is excluded in my setup, looks like just always ignored them during search.

[2017-09-21 01:07] enriquepiatti commented on #69
This should be supported, normally Magicento will detect automatically if it's a modman project, but if not you can edit the settings, and configure the different paths where your Magento code is, and set a default path where all the files from Magicento will be created. The only restriction is to have the same normal folder structure from Magento in your modman folder (that is, app/code etc)

[2017-09-21 09:27] janssens commented on #69
@enriquepiatti thank's for the tips, it's not detecting automatically my modman setup, but it's working perfectly after editing settings. Thanks for your amazing work and for the reply, enven on this old lost thread... cheers from France

[2017-09-21 12:28] #69 closed

[2017-09-21 12:58] oleggusev opened #268 "[magento 1] jump to observer method from config.xml does not work"
Please, see my video:
http://take.ms/u9sJ9i

I refreshed magicento indexer, but still does not work (for much things) in last version very much things do not work, could I downgrade my module?

Thank you very much.

[2017-09-21 13:23] enriquepiatti commented on #268
are you sure Magicento is enabled @oleggusev ? it should work fine, those features were not changed and it was tested multiple times with PS2017.2.
Anyway, if you need an old version for some reason you can download using your private link and appending &v=old

[2017-09-21 13:31] oleggusev commented on #268
Yes, I'm sure it is enabled, I even switched on/off it several times AND Alt-M work perfect, refresh cache and os on. Such problems comes with last versions, prev it works fine.
It works when no need to detect class, please, see:
http://take.ms/TOPXP <http://take.ms/TOPXP>

it is the same project!

Thank you very much.
------------------------------------------------
Best regards,
Oleg Gusev,

Mag

[2017-09-21 15:55] enriquepiatti commented on #268
@oleggusev can you check if there is some error on the IDE? (bottom right corner, you should see a red icon and error details there).
Also, can you test if the "factory string" works in PHP code (not XML), use CTRL+B (or CTRL+click or middle click, or any goto shortcut you are using) somewhere like Mage::getModel('HERE')

[2017-09-21 18:28] oleggusev commented on #268
No, sorry, there are no any error in log:
http://take.ms/lRguZ <http://take.ms/lRguZ>

I can make meeting with you and share screen, or launch debug script.

Thank you very much.

[2017-09-22 03:30] enriquepiatti commented on #268
yes, that could work, but please could you try using the GoTo feature inside the PHP code (not XML) to see if it works there?

[2017-09-22 15:24] oleggusev commented on #268
Yes, sure, it works, if class defined:
http://take.ms/8nrB2 <http://take.ms/8nrB2>

But sometimes not... Right now I did not find the example, but when I will see such example time, I will notify you.

Thank you.

[2017-09-22 15:32] enriquepiatti commented on #268
Hi Oleg, no I don't mean there, I mean using the GOTO with some factory string, but in PHP
Mage::getModel('USE GOTO HERE')
Mage::helper('USE GOTO HERE')
is that working?
(try using the same factory string that is not working in XML, but in PHP)

[2017-09-27 16:43] LordZardeck opened #269 "[Magento 2] Executing magento command gives IDE error"
I get the following error when executing magento commands, it appears to be any command:

[code]

I'm using a remote interpreter if that makes a difference

[2017-09-27 19:42] enriquepiatti commented on #269
what version of Magicento and PhpStorm are you using?

[2017-09-27 20:08] LordZardeck commented on #269
Plugin says it's on 1.6.0 here's my PHPStorm details:

PhpStorm 2017.2.4
Build #PS-172.4155.41, built on September 15, 2017
JRE: 1.8.0_152-release-915-b11 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Mac OS X 10.12.6

[2017-09-27 21:11] Koc opened #270 "[Magento 2] An exception occured on generating crud for model"
I've opened model class, `alt+m`, create crud model

[code]

[code]
Magicento latest stable build (1.6.0)

[2017-09-27 22:28] enriquepiatti commented on #269
OK, I can see the definition for PhpExecutionUtil.getProcessOutput has changed in 2017.2, I will add a fix to manage that too.
Maybe you can disable the PHP features for now if you need them with PHP interpreter (or change the method) and the error is giving you some problems

[2017-09-27 22:37] enriquepiatti commented on #270
That's strange, is like if Magicento was not able to find any module.
Can you try with another dialogs like Create Admin Menu, Create Controller, Create Observer, Create Plugin etc? any dialog that allows you to select the Module, are they working or throwing the same error?

[2017-09-28 07:20] Koc commented on #270
I've rebuild magicento indecies and error is gone. Will reopen if occurs

[2017-09-28 07:20] #270 closed

[2017-10-06 11:04] Koc opened #271 "[Magento2] Collection iteration recognize wrong class"
A am trying iterate collection, but each item in foreach resolves with same type as collection.

![default](https://user-images.githubusercontent.com/191082/31275236-1f9eb838-aa9f-11e7-9c54-9bcb7ae08b8a.png)

[2017-10-06 11:57] Koc commented on #254
@enriquepiatti please fix

[2017-10-09 10:36] everon opened #272 "[Magento 1] Thread State BLOCKED - XmlHelper.getDocumentFromFile"
First some system specs.

OS: Fedora 26 (64 bit)
PHPStorm: 2017.2.4 (up to date via toolbox)
Magicento Version: 3.1.3

Semi frequently the IDE will hang and there is no way to exit without using `SIGKILL` (`kill -9`)
I've suffered with this freezing issue for some time now and not found any reference to it in the wild to help.

I develop using LXC containers locally if this has any bearing on the

[2017-10-09 16:32] enriquepiatti commented on #272
Hi @everon, are you sure is Magicento the problem?
Could you try disabling to make sure that's the cause?
Or you can also try just disabling the "Automatic inspect for $this in templates" option in Magicento settings.

[2017-10-10 09:53] everon commented on #272
Hi @enriquepiatti

I'll give it a go and see how it goes during work today.
The crash seems to happen when CTRL clicking types of blocks in layout files more often than any thing else.

[2017-10-11 22:07] enriquepiatti commented on #220
It's too difficult to detect all return $this, is better just to $collection->load(); before the foreach, and use only $collection inside the foreach

[2017-10-11 22:07] #220 closed

[2017-10-12 07:42] theroch opened #273 "String index out of range"
If I open a specific observer class in my project I get the following exception:
`
String index out of range: -24
java.lang.StringIndexOutOfBoundsException: String index out of range: -24
	at java.lang.String.substring(String.java:1967)
	at com.magicento.extensions.FactoryTypeProvider2.getClassNameFromSignature(FactoryTypeProvider2.java:191)
	at com.magicento.extensions.FactoryTypeProvider2.getTyp

[2017-10-13 08:34] everon commented on #272
Hi @enriquepiatti

Was running without `Automatic inspect for $this` but the crash reoccurred just now.
The crash always seems to happen when working in layout xml files exclusively

Attached is the new thread dump which seems to show a similar (or same) stack trace.

[threadDump.txt](https://github.com/enriquepiatti/Magicento/files/1381882/threadDump.txt)

[2017-10-13 08:37] everon commented on #272
Further to the previous comment, it seems to be further isolated to when starting a new handle and autocomplete tries to kick in.

E.g.
[code]

At the point of writing the handle (indicated by the ellipsis), Phpstorm will freeze up completely.

[2017-10-14 20:18] enriquepiatti commented on #272
@everon so the freeze always happen when you try to autocomplete the handle? or sometimes works fine?
Also, can you try disabling Magicento? what happens with the layout files with Magicento disabled (no need to uninstall, just disable from Magicento settings)

[2017-11-02 11:28] everon commented on #272
@enriquepiatti

Was running without the layout features for a bit and didn't experience any thing. I did some work on another much smaller and basic project with the layout features enabled and hit the crash again.

The freeze happened when I highlighted a block reference.
![image](https://user-images.githubusercontent.com/375251/32323613-827cb212-bfc0-11e7-9eb4-95eca9578038.png)

I've also tried

[2017-11-02 15:10] oleggusev commented on #268
Hello, sorry for delay.

As you can see from my screen video: http://take.ms/JXtTY
I have a problem related only to custom module, which I attached
[Shiptheory.zip](https://github.com/enriquepiatti/Magicento/files/1438278/Shiptheory.zip)
 to this ticket. But core module works.

Thank you very much.

[2017-11-03 00:25] enriquepiatti commented on #268
Maybe is a cache problem, try refreshing Magicento cache (ALT+M) and also invalidating full PhpStorm Cache: File > Invalidate Cache / Restart
Also make sure your module does not have any errors, including upper/lowercase differences, file paths, etc, and also the module must be enabled

[2017-11-04 19:50] thomaszbz opened #274 "Security: Download links are unsafe against MITM attacks"
Download links such as `http://www.magicento.com/rest/plugin/download?key=...` are not safe against MITM attacks.

If you think this is not an issue, please read this article:
https://www.welivesecurity.com/2017/09/21/new-finfisher-surveillance-campaigns/
The whole issue has now been seen in the wild and the scenario is likely to worsen.

The easiest solution is to migrate downloads to https links

[2017-11-05 03:10] thomaszbz opened #275 "[Magento1] eval.php not reachable"
I have configured Magicento1 3.1.4 as follows:

![auswahl_415](https://user-images.githubusercontent.com/11200727/32411570-c172d6a2-c1de-11e7-83d0-44b85f3efbdd.png)

However, the test for requesting eval.php fails:

![auswahl_412](https://user-images.githubusercontent.com/11200727/32411581-d36b09e2-c1de-11e7-8f56-5b13d36e5be4.png)

Please note that the URL is reachable via web browser (and so shou

[2017-11-05 04:27] enriquepiatti commented on #275
Hi @thomaszbz, could you try adding a forward slash at the end of the URL (and try that without the port too again just in case) and also extend the Max Execution Time

[2017-11-05 05:02] thomaszbz commented on #275
I already tried:

- slash at the end (after host), with and without port (whereas the url was reachable in FF)
- Execution time 30s with delay 5s

Still, Magicento reports the same error.

I'm using PhpStorm 2017.2.4, openjdk, ubuntu 16.04. The web server is a debian 8 VM (vagrant/virtualbox setup) with apache2 and PHP 5.6 installed.

[2017-11-05 15:22] thomaszbz commented on #275
It works as soon as I'm changing the host name to an IP adress:

![auswahl_419](https://user-images.githubusercontent.com/11200727/32416152-036fb35c-c245-11e7-8587-1e4af208f20b.png)

With PHP execution in place, I can now search for Varien Object data keys:

![auswahl_419_2](https://user-images.githubusercontent.com/11200727/32416327-db4ae57e-c247-11e7-9ef3-1bc658631225.png)

So this issue seems t

[2017-11-05 15:37] enriquepiatti commented on #275
it seems a problem with HttpURLConnection that is caching DNS internally, I will try to find a workaround to that if you can't set the IP directly

[2017-11-05 15:56] thomaszbz opened #276 "Some getters are not found"
I have PHP execution in place:

![auswahl_419_2](https://user-images.githubusercontent.com/11200727/32416463-b8ff4b8e-c249-11e7-9942-546d51c5000d.png)

Magicento then finds _some_ of the getters (e.g. `getAdditionalData`):

![auswahl_419_2](https://user-images.githubusercontent.com/11200727/32416468-c909d742-c249-11e7-805f-2a362ef95cf2.png)

Some other getters are not found (e.g. `getHasChildren`)

[2017-11-05 16:41] thomaszbz commented on #275
It seems that Firefox cached something and I had multiple entries in /etc/hosts (earlier generated by hostmanager). With a clean /etc/hosts, everything was fine in 3.1.4. However, I restarted PhpStorm so that could have fixed it as well.

Disabling the DNS cache still would make sense so that PhpStorm does not have to be restarted every time the IP changes (via vagrant halt/up).

[2017-11-05 16:55] enriquepiatti commented on #276
That's because is set dynamically on the code, is not a real attribute from the database. The error here is more from Magento team, they should add that method with PHPDocs on the class.

    public function addChild($child)
    {
        $this->setHasChildren(true);
        $this->_children[] = $child;
        return $this;
    }

I guess we could try parsing all the files and searching for dynam

[2017-11-05 17:01] enriquepiatti commented on #275
OK, 3.1.5 has a DNS disabled anyway, so I guess it should work fine if the IP changes again next time.
Please reopen if it's not.

[2017-11-05 17:01] #275 closed

[2017-11-07 13:48] enriquepiatti commented on #274
Done

[2017-11-07 13:48] #274 closed

[2017-11-08 00:57] enriquepiatti commented on #235
This was already fixed in 1.6

[2017-11-08 00:57] #235 closed

[2017-11-08 01:59] thomaszbz opened #277 "Security/TLS: Disable RC4 Cipher for magicento.com"
Please have a look at

https://www.ssllabs.com/ssltest/analyze.html?d=magicento.com&hideResults=on

The RC4 cipher is considered insecure and should be disabled.

Qualys also warns about missing forward secrecy, but in respect to the downloads, secrecy should not be important.

[2017-11-08 23:44] enriquepiatti commented on #277
Hi Thomas, thanks for pointing that. But do you think this is something to fix? I'm not an expert in TLS but that refers only to the supported ciphers, I think the final cipher to be used is negotiated by the browser, and I guess the current browsers won't use RC4.
But maybe you have more experience on this and can tell me more about the problem this could cause.

[2017-11-09 00:16] thomaszbz commented on #277
Well, yes. E. g. Microsoft removed RC4 support last year (which is not so long ago):
https://support.microsoft.com/en-us/help/3151631/rc4-cipher-is-no-longer-supported-in-internet-explorer-11-or-microsoft

The longer you wait, the securer it gets ;-) The sweet spot for removing RC4 might be over.

[2017-11-09 02:36] enriquepiatti commented on #277
OK, but what could be the issue then? the browsers are not using RC4 anymore, so what is the problem with support the format? it won't be used anyway right?

[2017-11-09 04:36] thomaszbz commented on #277
Well, to be sure, RC4 should just be turned off in 2017.

[2017-11-09 05:11] enriquepiatti commented on #277
I asked to my server admin and he said cannot change that because of the SSL provider, but I don't see any real risk on that, RC4 won't be used, if someone is using RC4 is because is using a really old browser and hence security is not a concern for him (or at least will have bigger problems to be worried).
Reopen please if you think this could be a real issue for someone.

[2017-11-09 05:11] #277 closed

[2017-11-09 17:45] enriquepiatti commented on #254
@Koc this is actually a problem with "Intentions" not with Libraries, Magicento2 is searching on libraries too (there is also a new setting in v1.7.0 to control this on Magicento2 settings).
But this should be solved now (since v1.7.0) because Intentios are now also available as Magicento2 actions (ALT+M), so instead of using the intention shortcut (ALT+ENTER) you should use ALT+M in this case (bo

[2017-11-09 17:45] #254 closed

[2017-11-09 17:46] enriquepiatti commented on #214
Both things should be working with the new release: v1.7.0

[2017-11-09 17:46] #214 closed

[2017-11-09 17:47] enriquepiatti commented on #256
This should be working with new release: v1.7.0. Please update.

[2017-11-09 17:47] #256 closed

[2017-11-09 17:47] enriquepiatti commented on #265
This should be fixed in v1.7.0. Please update.

[2017-11-09 17:47] #265 closed

[2017-11-09 17:48] enriquepiatti commented on #245
Not sure what was the problem here, but please test if the issue continue after updating to v.1.7.0 and reopen in that case.
Thanks !

[2017-11-09 17:48] #245 closed

[2017-11-09 17:49] enriquepiatti commented on #249
Added in v1.7.0

[2017-11-09 17:49] #249 closed

[2017-11-09 17:50] enriquepiatti commented on #253
With v1.7.0 there is a new config in Magicento2 to add all the test folders to the Ignored list, please check if this works ok for you

[2017-11-09 17:50] #253 closed

[2017-11-09 17:52] enriquepiatti commented on #217
autocomplete for class names in di.xml should be more comlete in v1.7.0. Please update.

[2017-11-09 17:52] #217 closed

[2017-11-09 18:00] enriquepiatti commented on #269
fixed in v1.7.0

[2017-11-09 18:00] #269 closed

[2017-11-14 15:44] vitalygrigorishin commented on #229
hi @enriquepiatti, I am trying to update magicento from 2.9.0 to 3.1.0, but it doesn't work for me. I don't have link to update.

[2017-11-14 17:20] oleggusev commented on #268
Hello,

Exactly: it is NOT a cache, sure I tried reinstall it and reset magicento cache and reindex... nope

Thanks.

[2017-11-16 00:29] #229 closed

[2017-12-14 14:36] everon commented on #272
Hey again,

Still seeing crashes and freezing, it seems to be isolated to when working with the names of blocks when both defining them with `<block name="...">` and referencing them `<reference name="...">`

I'm due to renew my Magicento license for M1, has there been any changes in relation to this issue?

[threadDump-20171214-142829.txt](https://github.com/enriquepiatti/Magicento/files/1559577/

[2017-12-18 11:22] Koc commented on #259
No more occurs on fresh Windows 10 installation. 🙏

[2017-12-18 11:22] #259 closed

[2017-12-18 11:33] Koc opened #278 "[Magento2] Allow jump to original/overriden layout/template"
follow up of #216

![default](https://user-images.githubusercontent.com/191082/34104114-e3a45602-e3f7-11e7-95fd-736ae0cb3ab4.png)

I'm afraid that problem comes from external libraries

![default](https://user-images.githubusercontent.com/191082/34104159-09a1143a-e3f8-11e7-9ac6-9b8de66b619e.png)

[2017-12-27 15:32] enriquepiatti commented on #278
Hi @Koc using ALT+M is not showing the option "Go to override view file" either?
Is failing only on this file?
Have you tried refreshing Magicento indexes or full PhpStorm index?

[2017-12-27 16:51] Koc commented on #278
Oh, indeed, thank you. I'm always forgotting about alt+m. Just expected this functionality as linekarker. Is it possible create linemarker in future?

[2017-12-27 17:29] enriquepiatti commented on #278
Linemarker should work too, maybe there is a problem with indexes, or maybe
the external library if you can't see any linemarker

El 27 dic. 2017 10:51, "Konstantin Myakshin" <notifications@github.com>
escribió:

Oh, indeed, thank you. I'm always forgotting about alt+m. Just expected
this functionality as linekarker. Is it possible create linemarker in
future?

—
You are receiving this because you

[2017-12-27 22:10] Koc commented on #278
No original template file. Only blocks and layouts.

![default](https://user-images.githubusercontent.com/191082/34394664-6005d49c-eb63-11e7-8892-c25f46e5aa83.png)

[2018-01-03 16:00] andreiMarmureanu opened #279 "[Magento2] Magiciento won't recognize modules"
Magiciento won't recognize modules from vendor directory.
![incomplete-magicento](https://user-images.githubusercontent.com/13685130/34527911-d724e5ee-f0af-11e7-9b83-71274d69b87a.jpg)

As you can see in the picture in dropdown appears only some of the modules, to be more specific, only the modules from a vendor.
In the left part of the image you can see there are many other vendors.

Any ideea? Th

[2018-01-03 16:27] enriquepiatti commented on #279
Hi @andreiMarmureanu try selecting the modules as editable from Magicento2 settings
Are those modules present in that list from Magicento2 settings?
Are those modules detected on some other features?
Because normally you will have your "editable" modules inside app code, not a custom folder inside vendor... is there any special reason to use that workflow?

[2018-01-04 07:23] marmureanuweb commented on #279
Wow @enriquepiatti fast reply 👍
Seems to be all there, in magicento settings.
Our workflow is to use composer as much as possible, and yes after we develop a module in app/code we migrate it to vendor by composer.

I see that is a checkbox "Exclude Test Folders" which is checked by default:
![image](https://user-images.githubusercontent.com/13685130/34553587-f207f1a4-f130-11e7-81c2-f7dd78cd8e4f.pn

[2018-01-06 13:52] enriquepiatti commented on #279
Exclude tests folders is only for the "test" folder inside vendor modules (to avoid showing those things in autocomplete etc), you can try it just in case, but you say your entire module is not visible,or only the test classes?
Is your module listed there in "Editable Modules"?

[2018-01-18 20:46] rofokken opened #280 "[Magento2] - Error starting magicento2 newest PHPStorm"
Preconditions:

Newest PHPStorm version: 2017.3.3 Build 173.4301.43
When starting Magicento pressing alt+m an ide error occurs.

When looking at the error details i see:

Argument 2 for @NotNull parameter of com/magicento2/extensions/intention/Magicento2IntentionAbstract.isAvailable must not be null
java.lang.IllegalArgumentException: Argument 2 for @NotNull parameter of com/magicento2/extensions/

[2018-01-22 17:31] Koc commented on #278
And this not work in PS 2017.3.3

[code]

[code]

[2018-01-30 14:20] tgamanov commented on #280
Same issue
PhpStorm 2017.3.3
Build #PS-173.4301.34, built on January 18, 2018
Licensed to Smile

JRE: 1.8.0_152-release-1024-b11 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Linux 4.13.0-32-generic

magicento v1.7.0
alm + m
 gives
Argument 2 for @NotNull parameter of com/magicento2/extensions/intention/Magicento2IntentionAbstract.isAvailable must not be null

Argument 2 for @NotNull para

[2018-02-01 10:37] andreiMarmureanu opened #281 "Magicento2 failed to override class"
Argument 0 for @NotNull parameter of com/magicento2/helpers/Magicento2.getNamespacePrefixFromModuleName must not be null

[2018-02-06 09:15] TristanCICT commented on #280
Same here!

[2018-02-06 15:00] pocketprogrammer commented on #279
I am also experiencing this issue. The only modules that appear in the "Editable Modules" multi-select field are modules that I created using Magicento and the Magento core modules.

**Update**
If I manually add modules to the "editableModules" node in magicento2.xml it will allow me to use them in magicento actions, but does not add them as options to the "Editable Modules" multi-select field. Af

[2018-02-08 14:38] tobiasteatox commented on #280
I have a similar problem here. At first i thought the plugin is not working - but now i found out that this error occurs only if i hit the shortcut alt+m in editor while the pointer is behind the last character of a file.

If you need the full error message let me know, but i looked similar to the message above.

![position](https://user-images.githubusercontent.com/11499557/35978401-df10bef2-0ce5

[2018-02-09 09:41] Koc commented on #280
@enriquepiatti any chance to update plugin for getting support of the latest stable PS versions?

[2018-02-12 20:50] enriquepiatti commented on #280
Hi, yes @tobiasteatox, thanks for pointing it, that seems to be the problem.
I have uploaded a new version (v1.7.1) with a fix to work even when cursor is at EOF.
But if you don't want to update, just put the cursor somewhere else before using ALT+M

[2018-02-12 20:50] #280 closed

[2018-02-15 23:19] Koc opened #282 "[Magento 2] Autocomplete classes and resources in webapi.xml"

[2018-02-16 15:51] marmureanuweb commented on #279
Problem solved, somehow.....because I migrated to a MacOS enviroment. Now...I'm facing more and more problems. I feel like I paid for nothing.... Magicento1 was..great, but the version for the Magento2 has serious bugs.

1. Try to create module=>
![image](https://user-images.githubusercontent.com/13685130/36314912-f6eacf0e-133e-11e8-92be-cadfe05a8df8.png)
than this appers..."Create Module, action

[2018-02-16 19:09] enriquepiatti commented on #279
@andreiMarmureanu are you selecting the modules you want to work with on the "Editable Modules" list?
Also after selecting all the modules you want to edit there, close the settings and open it again just to check they were saved correctly

[2018-02-19 10:33] marmureanuweb commented on #279
@enriquepiatti  So, I found the problem.
I go to .idea folder, than saw "magicento2.xml" file
![image](https://user-images.githubusercontent.com/13685130/36316753-d847e744-1343-11e8-9dc8-3ffb1dcb080a.png)
And saw the line "Editable Modules" -> there was only one module. Than i figured out that thorough all the settings done in Preferences -> Magicento, I clicked that module....so I understood that

[2018-02-19 15:45] Koc opened #283 "[Magento 2] Autocomplete classes in extension_attributes.xml"
http://devdocs.magento.com/guides/v2.1/extension-dev-guide/attributes.html

[2018-02-19 15:48] Koc commented on #283
Also would be nice add action for quick creation extension attribute for interfaces that extends from `ExtensibleDataInterface`

[2018-02-19 16:12] Koc opened #284 "Improve preference.type autocomplete"
[code]

for now items in attribute `type` not sorted and there are a lot of non-relevant items in autocomplete. Better sort them: move to top classes that implements or extends class/interface from `for` attribute.

[2018-02-19 18:04] enriquepiatti commented on #279
@andreiMarmureanu what is the problem with create a new module?
It continue saying it is indexing and the action cannot be executed? that thing is something managed internally by PhpStorm so it's very weird it only happens with that action...

[2018-03-13 22:31] Koc opened #285 "[Magento2] Add support of the custom import/export"
Add ctrl+click and autocomplete for classes.

[code]

[2018-03-19 17:31] Koc opened #286 "[Magento2] Add generation of getters/setters for API."
Consider we have an interface for API

[code]

Would be nice if Magicento allows generate getters/setters for constants:

[code]

And model class with implementation of this getters/setters:

[code]

With proper phpdocs, of course.

[2018-03-19 20:54] Koc opened #287 "[Magento2] Add support of overriding html email templates"
http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/templates/template-email.html

[2018-03-22 19:30] oleggusev commented on #268
It could be closed, after upgrade I do not see the issue. thanks.

[2018-03-26 14:47] nebojsanovic commented on #144
Hi, same issue for me. Any solutions or suggestions?

[2018-03-26 19:32] enriquepiatti commented on #144
@nebojsanovic this is really old, when are you getting that error? please describe the steps to reproduce it and also let me know your PhpStorm and Magicento version

[2018-03-26 20:45] nebojsanovic commented on #144
Apologize , I have used wrong model name.

[2018-03-26 23:51] #144 closed

[2018-03-29 10:19] vaso123 opened #288 "Search event feature not works"
I've tried to search an event, like sales* or sales_order_place_before or *sales*, does not matter what I wrote into the search field, it shows me "No matches found" text.

v1.7.1

![evens](https://user-images.githubusercontent.com/2932257/38083973-78875e7a-334b-11e8-877d-367c75f9e103.png)

[2018-03-31 16:39] enriquepiatti commented on #288
must be some problem with project configuration, are the other features working fine?
Is your project structure special in somehow?
Have you tried refreshing all indexes (best way could be File > Invalidate Cache/Restart)

[2018-04-01 13:31] vaso123 opened #289 "Permanently get plugin error"
`null
java.lang.NullPointerException
	at java.net.URLEncoder.encode(URLEncoder.java:204)
	at com.magicento2.helpers.JavaHelper$4$1$1.run(JavaHelper.java:293)
	at com.intellij.openapi.application.impl.ApplicationImpl$1.run(ApplicationImpl.java:315)
	at java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:511)
	at java.util.concurrent.FutureTask.run(FutureTask.java:266)
	at java.util.c

[2018-04-04 15:59] enriquepiatti commented on #289
Hi @vaso123 were you able to validate your Magicento2 license? is this error blocking the plugin?

[2018-04-11 11:43] k4emic opened #290 "[Magicento2] File templates are missing from context menu"
In previous versions of Magicento2, you would get a list of file templates (di.xml, module.xml, webapi.xml, etc.) when right-clicking a file or folder in the project pane and expanding the "new" tab.

The templates are still listed under the "Edit file templates" menu, but does not appear in the right-click context menu. https://screencast.com/t/WJ1joRDoki

[2018-04-12 08:47] vaso123 commented on #289
I did not see that button, because my window was lower. It should be under the input not beside.

Anyway, I do not know. I pushed the Validate button, it was disabled for a while, then enabled again and nothing happened.

I am still getting the errors, so I think, no.

[2018-04-18 05:52] enriquepiatti commented on #289
Please contact me by email and send me a screenshot showing your Magicento settings.

[2018-04-18 05:55] enriquepiatti commented on #290
Those templates are used internally by Magicento2, you can edit them if you want to add something, but is not the intention to create them manually.
But If you want to create those files manually you can always create the same template on "Files" tab

[2018-04-18 05:55] #290 closed

[2018-05-09 19:36] rfbastos opened #291 "Magicento Notification: Error requesting trial license, please try again later"
Please helpe-me in this error!

[2018-05-09 23:15] enriquepiatti commented on #291
Sorry, trial version is not maintained any more and is really out of date, won't work with current PhpStorms

[2018-05-09 23:15] #291 closed

[2018-05-30 09:15] lfluvisotto opened #292 "IDE Fatal Erros (PhpStorm)"
Simulation:

File: vendor/magento/framework/App/Filesystem/DirectoryResolver.php

public function validatePath($path, $directoryConfig = DirectoryList::MEDIA)

Alt + M

Override class using preference

===

Error message:

Argument 0 for @NotNull parameter of com/magicento2/helpers/Magicento2.getNamespacePrefixFromModuleName must not be null

===

Details:

Argument 0 for @NotNull parameter of com

[2018-05-31 19:06] alanablett opened #293 "[Magento 2] Multiple Content Roots in PhpStorm Project"
Not an issue so much as an observation.

I noticed that when I had multiple Content Roots/Directories added to a project that Magicento's features would not work. It might be worth adding a note about this to the installation instructions to help others that may come up against this issue.

[2018-06-04 04:43] enriquepiatti commented on #293
Hi @alanablett what do you mean with Magicento's features are not working? do you see some error?
Also, how do you know the content roots is the problem? if you remove them then everything works again? maybe is one particular directory the problem?

[2018-06-07 11:30] artspb opened #294 "java.lang.Throwable: Read access is allowed from event dispatch thread or inside read-action only"
We've got the exception from one of our users. Please keep in mind that indices can be accessed only from a read action. `com.intellij.openapi.application.Application.runReadAction()` is here for your convenience.

<details>
  <summary>Read access is allowed from event dispatch thread or inside read-action only (see com.intellij.openapi.application.Application.runReadAction())</summary>
<pre><code

[2018-06-08 13:47] alanablett commented on #293
Hi @enriquepiatti

There were no errors, but the auto completion etc were not working at all. Unfortunately I've not been able to replicate the issue. Once I had removed the second Content Root everything started to work as usual. Adding the Content Root back in didnt cause the issue. Previously I had also made sure to invalidate caches etc. I'll close this but will re-open if I do manage to repli

[2018-06-08 13:47] #293 closed

[2018-07-15 17:00] #292 closed

[2018-10-01 10:07] paales opened #295 "[Magento 2] PHPStorm hangs after installing Magicento"
PHPStorm just freezes, no CPU usage, just freezes, is there a callback home that is timing out or something?

[2018-10-01 10:08] paales opened #296 "[Magento 2] Replace interpreter options"
I had an idea, we configure our remote PHP interpreters (to work with vagrant) in the system and Magicento should be able to use that interpreter instead of its own eval strategy? Would make Magicento much more robust :)

[2018-10-07 18:10] paales commented on #295
Doesn't seem to have anything to do with Magicento :)

[2018-10-07 18:10] #295 closed

[2018-10-15 15:09] treestonemedia opened #297 "cannot find get_varien_object_keys.php"
I am following instructions here http://magicento.com/#magic-method-autocomplete but I cannot find the get_varien_object_keys.php script.

please advise

[2018-11-12 20:52] Koc opened #299 "[Magento2] Create admin menu throws exception"
Plugin version 1.7.0

[code]

[code]

[2019-02-06 19:59] gabriellslvr opened #300 "Rewrite classes/controllers/blocks/etc"
The "Rewrite class, controllers, etc" function not working for me...

Using Magento 1.x, PhpStorm 2018.1.1, Magicento 3.0.2.

In non controller files, the file don't create and nothing happens...
In controller files, if you choose to extend the default class from file, it not works, nothing happens too.
But if you choose to extend the extended class from controller, it works but the new class file

[2019-02-08 01:18] gabriellslvr commented on #300
Updating...
I reproduced again the error and could get the error log from phpStorm...
![screen shot 2019-02-07 at 22 46 14](https://user-images.githubusercontent.com/996119/52453443-8caabb00-2b2e-11e9-8fe6-0c5dce8ce310.png)

`null
java.lang.NullPointerException
	at com.magicento.actions.RewriteControllerAction.executeAction(RewriteControllerAction.java:52)
	at com.magicento.actions.MagicentoAction

[2019-02-13 23:37] enriquepiatti commented on #300
Hi @gabriellslvr, 3.0.2 is an old version, probably that's the reason of the error

[2019-02-16 14:15] matei opened #301 "Issue when editing XML files with Magicento 2"
When editing XML files (e.g. di.xml, module.xml etc..), I get the exception below and the editor gets in a weird state (can't close XML tags)

IntelliJ build IU-183.5429.30, Magicento plugin downloaded today current version (Feb 16 2019)

`java.lang.ClassCastException: com.jetbrains.mako.psi.impl.MakoFile cannot be cast to com.intellij.psi.xml.XmlFile
	at com.magicento2.extensions.index.di.PluginF

[2019-02-18 11:42] enriquepiatti commented on #301
Hi @matei that's a weird error, it seems there is a conflict with Mako from Python, not sure why, are you working with that in your project too? anyway it should be compatible, because that code should be executed only on "di.xml" files, maybe you have a Mako file from Python with the same name?

[2019-02-18 14:45] matei commented on #301
I am not using Mako. Couldn't say what the compatibility issue is, but I did see it when editing xml files (not only di.xml). Disabling the Intelli-J Python plugin solved it as a temporary solution.

[2019-02-22 15:41] gabriellslvr commented on #300
Sorry @enriquepiatti, i got confused and type the wrong information...

I have the last version...
Check it:

https://i.imgur.com/zWl9rzC.png

[2019-02-26 23:16] enriquepiatti commented on #300
Hi @gabriellslvr please don't check there, it could show a wrong message, the real version is shown inside "plugins" from PhpStorm settings, search "Magicento" there and let me know

[2019-02-27 19:22] gabriellslvr commented on #300
![screen shot 2019-02-27 at 16 21 39](https://user-images.githubusercontent.com/996119/53516763-ccb8ea00-3aab-11e9-824f-8d3661cb2972.png)

Here is the current version i have installed here.

[2019-03-04 13:13] enriquepiatti commented on #300
Hi @gabriellslvr please show me the info you are using to rewrite the controller (a screeshot of Rewrite Controller dialog).
Also I need to see your project folder structure (for the controller classes and modules involved).
If this is a private information to show here please send me an email

[2019-05-04 10:53] Sartoric opened #302 "[Magicento2][PS 2019.1.1] IDE Fatal error on contextual menu in phtml file"
When I try to open the contextual menu (Opt M) fot a Theme phtml file content, I get the fatal error attached below.
It seems to be related to that theme but I wouldn't expect to get a fatal error.
The stack looks strange too with all that "duplicate" rows

Anyone else faced something similar ?

java.lang.StackOverflowError
	at java.io.FileInputStream.$$YJP$$open0(Native Method)
	at java.io.FileIn

[2019-05-04 12:09] enriquepiatti commented on #302
Hi @Sartoric please could you provide more info about that .phtml? is the only one throwing that error or all the .phtml from all the themes are failing?
It looks le some type of recursive call due to a circular reference in your Theme, maybe the parent theme for some of your theme is also a the child theme? could you please check the parental chain for your themes?

[2019-05-04 12:43] Sartoric commented on #302
Hi Enrique
Sorry, forgot to add some details.
It seems that all the phtml from that theme (let's call it A) are "faulty".
The A theme is child of theme B, but theme B has no parent, based on its theme.xml
Theme B is not a magento default one.

If I copy paste the content in a new frontend folder, the menu works correctly

I have the same suspicion about something called recursively, unfortunately

[2019-05-04 21:44] enriquepiatti commented on #302
So the problem is only with that Theme, can you put the hierarchy of theme "A"? or maybe the theme.xml files, if it's private for a public place like this you can send it to contacto@enriquepiatti.com

[2019-05-05 09:24] Sartoric commented on #302
Hi Enrique
sure, I'll send you the files to that email address, but the themes.xml files are pretty basic

[2019-06-27 10:41] just-tom commented on #196
Hi @enriquepiatti
I am trying to set the path to the Magento2 source but consistently receiving this error:

<img width="1395" alt="Screenshot 2019-06-27 at 11 39 32" src="https://user-images.githubusercontent.com/12802934/60260035-7c725d00-98d0-11e9-98e9-0e06689fdb95.png">

I have tried all sorts of paths, and have the latest version, so not sure where to go?

Thanks

[2019-06-27 19:03] enriquepiatti commented on #196
Hi @just-tom can you send a screenshot showing your project folder structure? by email if it's private: contacto@enriquepiatti.com

[2019-07-26 13:39] kpitn opened #303 "[Magicento 2][PS 2019.2] Settings not visible"
Hi,

With the last version of phpstorm settings are not visible

![magicento](https://user-images.githubusercontent.com/41059/61955388-338af280-afbb-11e9-9442-a89e0eaa2c29.png)

![magicento2](https://user-images.githubusercontent.com/41059/61955498-70ef8000-afbb-11e9-9300-b8e3f65d5083.png)

Can you do something ?

[2019-07-27 03:10] enriquepiatti commented on #303
Hi @kpitn please try restarting PhpStorm, and also try resizing the settings window (make it bigger)

[2019-07-29 07:42] kpitn commented on #303
You are right, I have restart phpstorm before write the issue, but i can see the window now.

Thank You

[2019-07-29 07:42] #303 closed

[2019-07-29 10:30] tgamanov opened #304 "Create module functionality"
PHPStorm version 2019.1.3
Magicento v3.1.5
Execution of 'create module' creates
etc/config.xml,
Helper/Data.php
Modules/Vendor_ModuleName.xml
Files registration.php, module.xml and *.json are absent.
Please let me know if you need more details.
Thanks

[2019-07-29 13:13] enriquepiatti commented on #304
Hi @tgamanov please check if there is some error (lower right corner in PhpStorm there is an icon there which shows the errors, click also the "details" tab)

[2019-07-29 14:52] tgamanov commented on #304
There were no errors.
Looks like it is because both versions were installed. Even if I disable for 1st one at the settings alt+m enabling it instead of for 2nd version.
Uninstalled magicento for 1st mage and everything is good now.
Thank you.

[2019-07-29 15:46] #304 closed

[2019-08-01 13:08] LukSky24 opened #305 "[Magicento2 -1.7.1][PhpStorm 2019.2] Error when installing plugin"
Hey,
I have a problem installing Magicento2 in my Phpstorm. Every time I want to install it (screen with the version and plugins is attached), I must restart Phpstorm, and i get a error that is shown on the screen below. Can you help me with this problem?
![error_log](https://user-images.githubusercontent.com/52952445/62295670-e224ac80-b46d-11e9-9d4c-add946042744.png)
![install_screen](https://use

[2019-08-06 22:21] enriquepiatti commented on #305
What PhpStorm version are you using?

[2019-08-06 22:27] enriquepiatti commented on #305
Can you try File > Invalidate cache restart and try again?
Anyway, I think is a problem with 2019.2 version, could be related to this:
https://intellij-support.jetbrains.com/hc/en-us/community/posts/360004371099-Scene-Builder-does-not-work-anymore-after-update-to-2019-2-version
But nobody is answering about that problem.
If you have the chance to downgrade to previous PhpStorm version I recommend

[2019-08-13 12:18] LukSky24 commented on #305
I downgraded it but it doesn't help. At the end, it was very trivial problem. I just don't have permission to write for this extension files. After I got this, this extension start working.

[2019-08-14 11:20] enriquepiatti commented on #305
perfect, thanks for the tip, could be useful for other users

[2019-08-14 11:20] #305 closed

[2019-09-13 16:55] nfourteen opened #306 "If two projects open, no way to configure Magicento"
I recently installed Magicento and have two Magento projects, one with custom modules and one with sample data. When I have both projects open (ie., File > Open Recent), in a "New "Window...not "Attached" or "This Window"...I get the following error in when I go to configure Magicento.

<img width="1661" alt="Screen Shot 2019-09-13 at 10 39 10 AM" src="https://user-images.githubusercontent.com/143

[2019-09-13 19:53] enriquepiatti commented on #306
seems to be an error related with index, maybe your new project was indexing?
Anyway, Magicento is not well tested with multiple projects open at the same time, I recommend to avoid that if possible

[2019-09-14 19:40] nfourteen commented on #306
@enriquepiatti I didn't notice any indexing messages when I reported this. But when I retested, I noticed a little spinner in the bottom left after a "scanning index" message flashed...so I believe it could be related to indexing. If I wait for the little spinner to complete, Magicento works as expected in the preferences panel. I will close this and plan on closing extra projects or at the very l

[2019-09-14 19:40] #306 closed

[2019-10-03 16:13] ricardogonort commented on #196
Hi @enriquepiatti
 im have the same problem, the path is not valid

my path is:
C:\Users\username\PhpstormProjects\smu

thanks

[2019-10-07 14:20] ricardogonort commented on #196
Hi @just-tom, Could you fix the problem?
How you did it?

Thanks

[2019-10-08 15:12] enriquepiatti commented on #196
@ricardogonort I cannot help you only with that info, please read my comment from above, I need to see your project folder structure, if that's a private info you can send it to my email

[2019-10-22 15:44] Schrank opened #307 "PS 2019.3 com.intellij.diagnostic.PluginException"
Unfortunately I have no clue, when this happens :-/

[code]

[2019-10-23 16:33] Schrank commented on #307
Ok, I know when this happens, on hitting Alt + M - to open Magicento menu in Mac OS X.

Most likely incompatible with the newest EAP.

PhpStorm 2019.3 EAP
Build #PS-193.4697.24, built on October 17, 2019
PhpStorm EAP User
Expiration date: November 16, 2019
Runtime version: 11.0.4+10-b520.2 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.15
GC: ParNew, ConcurrentMarkSweep
Memory: 20

[2019-10-24 01:09] enriquepiatti commented on #307
I recommend to use the stable version, EAP has code that could be modified

[2019-10-29 13:26] ZaneCEO commented on #307
I came here to report this as well. I'm with 2019.3 EAP too on Ubuntu 19.04

[code]

[2019-10-29 13:37] Schrank commented on #307
I downgraded to stable and works fine @ZaneCEO

[2019-10-29 14:07] ZaneCEO commented on #307
Thanks @Schrank , I just did!

[2019-11-28 14:15] oleks-multiverse commented on #307
Same issues on the latest stable PHPStorm version (updated today):

PhpStorm 2019.3
Build #PS-193.5233.101, built on November 27, 2019
Runtime version: 11.0.4+10-b520.11 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.15.1
GC: ParNew, ConcurrentMarkSweep
Memory: 1981M
Cores: 8
Registry: run.processes.with.pty=TRUE
Non-Bundled Plugins: Magicento

I tried to delete and re-install the

[2019-11-28 14:34] ZaneCEO commented on #307
@oleksii-rybin confirmed!

[2019-11-28 18:02] inventivo commented on #307
Same error here, will there be an update?

[2019-11-28 18:47] enriquepiatti commented on #307
Yes of course, I'm working on it, will be an update soon ;)

[2019-11-28 18:53] inventivo commented on #307
Good to hear, thanks!

[2019-11-29 02:03] hwebb opened #308 "Model not fetched from Collection"
Magicento doesn't seem to be able to fetch the Model from a Collection, which was working well in the past, as you can see on this screenshot

![image](https://user-images.githubusercontent.com/1782396/69838489-b9cb8400-128e-11ea-82b2-4696dccf3967.png)

This forces me to add a ref, which is time consuming
![image](https://user-images.githubusercontent.com/1782396/69838594-25155600-128f-11ea-8a6f-c

[2019-11-29 20:26] enriquepiatti commented on #307
Guys can you download and reinstall your Magicento, I've just uploaded a new version with a fix to this (working only in PhpStorm 2019.2+). Is a quick update because of the critical bug, but I will release a new version with more bugfixes and features in December.
Let me know if it works please.

[2019-11-29 20:28] enriquepiatti commented on #308
Thanks @hwebb, can you update Magicento? this should be fixed in v3.1.7

[2019-11-29 21:30] inventivo commented on #307
Seems to work, thanks for the update.

[2019-12-01 21:01] olgashev commented on #307
Unfortunately won't work for me (1.7.1 today's download)
Have no any configuration options for magicento and have the following exception:
![image](https://user-images.githubusercontent.com/8374779/69920276-7b041c80-148e-11ea-9a3a-86102cb92c01.png)

[2019-12-02 02:38] enriquepiatti commented on #307
HI @olgashev that's a different error, it's from Magicento2 (this issue is for Magicento1) and also it seems to be related to the index, please try using File > Invalidate cache restart. And waiit for the reindex to finish (could take some time).
If the error persists please open a new issue and copy/paste the full stack trace of the error (in the image the error is not fully visible)

[2019-12-02 12:25] olgashev commented on #307
Hi @enriquepiatti
Thank you for pointing me in the right direction.
Cache invalidation was enough for resolving of my issue, everything is good now.

[2019-12-02 14:24] #307 closed

[2019-12-12 23:41] #308 closed

[2020-03-03 07:14] Schrank opened #309 "Cron expr basic check"
Hey! I had the problem today, that I accidentally added seconds to my cron expression:
`0 38 23 * * *` which is bad, because even if Magento ignores the last `*` (which I don't know) there is no 38th hour on the 23rd :D

So making sure it is only 5 parts and each in the correct range would be awesome :-)

(0-59) (0-23) (1-31) (1-12) (0-6)

[2020-03-11 15:49] alexbejan-mavfarm commented on #286
Is there an update on this?

[2020-04-14 14:15] bbakalov opened #310 "Fatal Error (PhpStorm 2020.1 update)"
`java.lang.Throwable
	at com.intellij.openapi.project.DumbServiceImpl.queueAsynchronousTask(DumbServiceImpl.java:316)
	at com.intellij.openapi.project.DumbServiceImpl.queueTask(DumbServiceImpl.java:292)
	at com.intellij.openapi.roots.impl.ProjectRootManagerComponent.synchronizeRoots(ProjectRootManagerComponent.java:315)
	at com.intellij.openapi.roots.impl.ProjectRootManagerComponent.fireRootsChang

[2020-04-15 14:44] davidhiendl opened #311 "TimeOut trying to upload eval.php to the default Deployment Server"
Hello,

I've just updated Magicento to the newest version in order to be able to use it with 2020.1 release of PhpStorm. I was using a separate 2019.2.5 for legacy Magento 1 projects before. However when trying to execute a simple test script or using the "test php" function from Magicento I get the following error message:
`16:37	Magicento Notification: TimeOut trying to upload eval.php to the de

[2020-04-22 14:41] colinpickup commented on #310
I'm using PhpStorm 2020.1 and considering renewing my Magicento licence. Is this a common error, or is the latest version of Magicento 2 generally compatible with 2020.1?

[2020-04-22 14:47] bbakalov commented on #310
@colinpickup It still work fine with PhpStorm 2020.1. I think in the nearest future guys release some small changes for compatibility.
BTW, I'm not owner and contributor, just user of Magicento.

[2020-04-22 16:09] enriquepiatti commented on #310
This seems to be related with some index problem, usually is fixed jus refreshing the index (File > Invalidate cache restart). Is important to wait for the index (you can see a progress bar on the rght bottom corner)

[2020-04-23 11:24] enriquepiatti commented on #311
Hi @davidhiendl, you are not saying if it's Magicento1 or Magicento2.
Please show me some screenshot of your Magicento settings, also try with a higher number for the delay, not 1, try with 10 or something like that.
I guess you are using Magicento1, in that case you could try also disabling the upload evalp.php automatically. In this case it will execute always the last eval.php generated (that m

[2020-04-23 14:39] davidhiendl commented on #311
Hello,
thanks for taking a look. It is Magicento 1. I've already tried various combinations of the upload delay setting with no effect.
If I disable auto-upload in Magicento 1 it does execute whatever is stored on the server. However if enabled it actually uploads the file and it can be found manually on the server, it just does not execute it because it does not seem to recognize that the upload

[2020-05-15 20:09] timsayshey opened #312 "Enhancement: Ability to run Commands in a VM / Remotely"
Currently the plugin expects that you are running the Magento2 project on the same system as your IDE. However I am running the project in a VM. It seems like you could run the commands using an eval file over HTTP the way you are doing it for other operations. Thoughts?

[2020-07-23 14:14] rafdol opened #313 "[Magicento 3.1.0] java.lang.NullPointerException after Alt+M in PHPStorm 2020.1.4"
`stacktrace.txt`:

[code]

I have tried `File` > `Invalidate cache restart` but the problem still persists. My previous PHPStorm version was 2019.2.5 and Magicento works ok on it.

[2020-07-26 13:26] enriquepiatti commented on #313
Hi @rafdol, what Magicento version are you using? make sure you have the last one:
https://magicento.com/#changelog-section
currently is 3.1.7

[2020-10-31 17:55] ipkpjersi opened #314 "[Magicento2] Magento2 source code must be inside your PhpStorm project folder"
Hello,

I am getting an error with Magicento2 saying that the Magento2 source code must be inside PhpStorm project folder, however, that's exactly what I have. One of my project folders is /var/www/html, and the source code is in /var/www/html/magento. I have set the path to Magento2 source as /var/www/html/magento which seems to be working but it still throws this warning.

Here is a picture of t

[2020-10-31 21:53] ipkpjersi commented on #314
I think this issue might be related to an issue on the official Magento plugin for PhpStorm: https://github.com/magento/magento2-phpstorm-plugin/issues/244

Edit: The workaround solution for both issues seems to be only open the Magento root folder directly but that's not ideal if you want multiple folders in the same PhpStorm window.

[2020-12-06 15:09] maxiledesma opened #315 "[Magento2] Add Patch Data capability to setup feature"
Add code to create data patches that are available on Magento2

[2020-12-07 16:53] theroch opened #316 "Failed to map data for input while indexing since PhpStorm 2020.3"
Magicento 3.1.7
PhpStorm 2020.3

After starting PhpStorm the following error is thrown while indexing:
[code]

[2020-12-11 08:15] theroch commented on #316
@enriquepiatti
Can you please take a look on this issue?

[2020-12-14 10:44] enriquepiatti commented on #316
Hi @theroch yes sure I will work on it, I recommend to downgrade to previous PhpStorm version until then, is a problem with versio 2020.3+

[2021-01-15 09:59] theroch commented on #316
Hi @enriquepiatti is there anything new about this bug?
Do you have a rough timeline on when this bug will be fixed?

[2021-01-20 10:16] ghost commented on #316
I'm having this problem too and I see it as having critical or near blocker severity as it can cause PhpStorm to not save any input you made after a certain stage (have not investigated in detail when that happens) and when you close the IDE some changes might be lost.

To expand on this: I'm not 100% sure that this is the problem that causes the behaviour I have described but I don't see any othe

[2021-01-21 12:21] enriquepiatti commented on #316
I recommend to downgrade PhpStorm for now, remember you can install more than one PhpStorm at once in case you need the latest version for another projects

[2021-01-26 08:02] theroch commented on #316
Hey @enriquepiatti,
downgrading is not really an option because xdebug 3.x is broken in versions below 2020.3.

[2021-03-09 10:25] Alphaegen commented on #316
I would like to know whether this issue has been fixed or not. I'm thinking about buying the plugin, but if I can't use the plugin with version 2020.3 that would be a problem for me.

[2021-03-09 13:40] enriquepiatti commented on #316
@Alphaegen is not fixed at the moment, I recommend to take a look at the plugin developed by Magento team, it's free and they have many developers maintaining it.
Let me know in case you need some features from Magicento2 not included in the official Magento2 plugin, but at the moment I have decided to pause the development on Magicento2 because I cannot compete with a free and official plugin fro

[2021-03-09 14:06] theroch commented on #316
Hi @enriquepiatti
in the case of this issue the magicento plugin for magento 1.x is affected.
Will you also discontinue magicento for magento 1.x?
We are still developing with OpenMage so we will use and pay for this plugin in future.
But if you ever decide to discontinue support or development of magicento, maybe it would be possible to release the code as open source so we can fix such problems

[2021-03-11 12:20] fkruidhof commented on #316
@enriquepiatti

Like @theroch I am still developing for Magento 1.x (Mage-One, OpenMage) and will likely continue to do so for at least a year. Since there is no alternative for Magicento for M1, I would love a fix for this issue. Development for M1 without Magicento is a pain....

[2021-03-14 06:10] jackjackde opened #317 "2.4.0 Marked as incompatible"
Magicento 2.4.0
PhpStorm 2020.3.2
Build #PS-203.7148.74, built on January 27, 2021
Runtime version: 11.0.9.1+11-b1145.77 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
macOS 10.16

Error while starting PHPStorm

**Error Messages**
Marked as incompatible

**Expected Result**
Open PHPStorm Settings, get Magicento config setting

**Actual Result**
Magicento Settings missing

![Bildschirmfoto

[2021-03-14 06:21] #317 closed

[2021-04-20 09:21] compass2k opened #318 "3 months after I purchased my license its saying its expired"
"magicento2 user is not valid" is reporting in phpstorm popup despite I just bought it at the end of December last year.

???

[2021-04-26 01:43] compass2k commented on #318
Still waiting a week later ...

[2021-04-27 01:13] compass2k commented on #318
Still being ignored - took my money and lost interest eh Enrique?

[2021-04-27 01:21] compass2k commented on #316
I love how Enrique has abandoned magicento but he's still selling it. I bought it in December and its now decided to unregister itself so I cant use it  but he just ignores my issues post.
Money for nothing and screw the idiot who trusted your word hey?
Anyone know where he's situated so I can take this to his local consumer affairs bureau people need to be warned hes selling
broken software.

[2021-04-27 10:19] magicdude4eva commented on #316
I suggest that the owner of repo stops selling the plugin via https://magicento.com/ and then opensources/LGPL the discontinued product so that other people can take over. Would be good if @enriquepiatti  provides a formal statement in the README of this repo and on the website.

[2021-04-28 12:34] enriquepiatti commented on #316
@compass2k I don't understand your insults, I always reply the emails and I try to do that in the same day. I don't have too much time to update Magicento because Magento1 is discontinued and Magento2 has an official plugin now, but the product stills working, I will update the site to make it clear the last compatible version is 2020.1 (I think it works fine in 2020.2 too). So if you need to use

[2021-04-28 13:55] magicdude4eva commented on #316
FWIW - I reached out to Enrique (via the homepage / email) and he promptly responded. I am sure people are frustrated about some decisions and compromises required. sometimes it might be required to upgrade PhpStorm (especially when this is needed due to MacOS upgrades or other operational reasons - for example in our case we needed to upgrade to support fixes in other plugins which were not backw

[2021-04-28 18:47] enriquepiatti commented on #316
I'm working on this, but at the moment the only workaround is to use a previous PhpStorm version

[2021-04-28 20:32] compass2k commented on #316
You sell a plugin and then tell people they cant use it with current
software after they find it doesnt work and you're surprised when they
call you bodgy?

You didnt answer my post from over a week ago - even now its ignored so no
9 days no reply is not acceptable.

Basically your app is unusable with current software when you sold it so if
you will refund my non usable licence money
I will delet

[2021-04-28 22:40] compass2k commented on #316
I dont know why he ignored my emails then. He finally replied today but it
was all injured stuff like he was the guy who was sold non working software.

I've asked for a refund but I'm not hopeful.

d

On Wed, 28 Apr 2021 at 23:55, Gerd Naschenweng ***@***.***>
wrote:

[2021-04-29 14:15] enriquepiatti commented on #316
@compass2k what is your email? so I can search it in my inbox and your user in Magicento.
Magicento is not my fulltime work as you can guess, sometimes I'm very bussy and I miss some comments here, but I always reply the emails, if is not your case then it's because it didn't arrived to me for some reason (spam etc).
And of course you can request a refund, that is in the website too, you have 30 d

[2021-04-29 15:46] enriquepiatti commented on #318
@compass2k I saw this here today, you have my email in magicento.com for a fast answer, I don't check this here too often, only when getting notified by email that for some reason was not the case, maybe lost in the middle of thousands of other notifications :/
User is not valid is usually due some missconfiguration and is really easy to solve.
Anyway, I can see from comments in another issue you

[2021-04-29 15:46] #318 closed

[2021-04-29 20:59] compass2k commented on #318
Yes thank you I would prefer this. Its just easier to adjust my coding to
the official plugin as I know it will be supported.

My email is ***@***.***

d

On Fri, 30 Apr 2021 at 01:46, Enrique Piatti ***@***.***>
wrote:

[2021-04-29 21:37] enriquepiatti commented on #318
It seems emails are not allowed in comments, please send me an email, my address is in magicento.com

[2021-04-30 13:09] enriquepiatti commented on #316
@theroch @glamic-ep are you still having this issue? because I cannot reproduce it, if yes please can you send me an email with more details?

[2021-04-30 13:47] theroch commented on #316
Yes I still have this issue. What info do you need?
I can reproduce this issue while opening a default OpenMage (1.9.x) project.

[2021-04-30 13:58] enriquepiatti commented on #316
@theroch is that happening only with OpenMage? have you tried some vanilla Magento 1.X?

[2021-04-30 15:21] theroch commented on #316
Same issue with fresh cloned magento-mirror.
Index always stops on lib\Zend\Amf\Server.php or app\code\core\Mage\Catalog\Model\Product\Type.php

[2021-04-30 16:18] enriquepiatti commented on #316
@theroch please contact me by email, I'm going to need more details

[2021-05-05 16:18] enriquepiatti commented on #316
After testing with @theroch we conclude this only happens in PhpStorm 2020.3+ but was fixed in PhpStorm 2021+ so I'm closing this issue

[2021-05-05 16:18] #316 closed

[2021-05-06 06:44] ghost commented on #316
Ok, I also had problems in 2021.1.1 which I sent you per mail.

[2021-05-08 23:09] enriquepiatti commented on #316
@glamic-ep I don't remember that email, please write me again so we can try to narrow if the problem is from Magicento or some specific version

[2021-08-18 14:01] pquerner opened #319 "[Magicento 3.1.7] PhpStorm 2021.2 - IndexNotReadyException"
The project is fully indexed. I wanted to create a class overwrite.

The error thrown:

stacktrace.txt
[code]

indexingStart.trace
[code]

[2021-12-12 08:51] pquerner opened #320 "[Jetbrains Gateway] Plugin 'Magicento' requires plugin 'com.jetbrains.php' to be installed"
Trying out Jetbrains new tool called "Gateway" and I wanted to try out Magicento.
However I am greeting with this error message:

`Plugin 'Magicento' requires plugin 'com.jetbrains.php' to be installed`

Can this be fixed?

[2022-05-25 17:06] lfolco opened #321 "Is this plugin still being maintained?"
I just purchased an upgrade but it's not working correctly (it keeps getting disabled in PhpStorm). I notice this repo hasn't had any activity for quite some time. Where do we go for support?

[2022-06-13 15:22] pquerner commented on #321
This repo doesnt get updated. The plugin is closed source (for now, not sure it that ever changes).

To help with your problem, the maintainer problably needs more information about what went wrong (ie. a stacktrace) or something.

PS: I am not the maintainer.

[2022-06-13 15:32] lfolco commented on #321
I heard back, contacted him directly.

[2022-06-13 15:32] #321 closed

[2022-08-08 10:02] cdittmar opened #322 "Exception creating module for magento 1"
When I create a new module for magento 1 I get an exception. The module configuration file in app/etc is created but empty. PhpStorm Version 2022.2 (Build #PS-222.3345.135), Magicento Version 3.3.4

`java.lang.AssertionError: Wrong line separators: '...on=\"1.0\"?>\r\n<config>...' at offset 21
	at com.intellij.openapi.util.text.StringUtil.assertValidSeparators(StringUtil.java:2418)
	at com.intelli

[2022-08-08 14:40] enriquepiatti commented on #322
Hi, please check your line separators config, maybe there is some problem there:
https://www.jetbrains.com/help/idea/configuring-line-endings-and-line-separators.html
Also if you cannot change that, you can edit the templates used by Magicento

[2022-08-17 21:18] viktorsteinwand commented on #322
Hi, I've the same issue while adding new module. Line separators are set to System-Dependent. Working on M1 MacOs 12.5 with PhpStorm 2022.2 and Magicento 3.3.4. Changing the line separator did not work. I also could not find any template being used to create new modules....

[2022-08-18 09:39] boorlyk commented on #322
@viktorsteinwand  try to check
Preferences -> Editor -> File and Code Templates -> Other
I have found it there

[2022-08-19 13:28] viktorsteinwand commented on #322
@boorlyk @enriquepiatti PhpStorm displays following error when I try to select some template: "Cannot Save Current Template, Invalid template file name or extension"
<img width="2257" alt="Bildschirmfoto 2022-08-19 um 15 26 09" src="https://user-images.githubusercontent.com/1064766/185629210-61df8e72-161f-43f9-8e60-b364c652e0ac.png">

[2022-08-19 13:30] boorlyk commented on #322
@viktorsteinwand i saw the same, restart phpstorm, that helped me.

[2022-08-19 13:32] viktorsteinwand commented on #322
@boorlyk restarting php storm do not work for me...

[2022-08-19 13:36] boorlyk commented on #322
@viktorsteinwand  after restart try to update the following template first
Preferences -> Editor -> File and Code Templates -> Includes -> XML File Header
then Apply and restart phpstorm again.

In my case issue was that XML File Header contained some invalid special character what crashed the PHPStorm.

[2022-08-19 13:37] boorlyk commented on #322
@viktorsteinwand
<img width="358" alt="image" src="https://user-images.githubusercontent.com/4051060/185630900-476a52fc-8ad3-42c4-aa56-9c75313a0bed.png">

Templates which using by magicento uses this header in my case

[2022-08-19 13:54] viktorsteinwand commented on #322
@enriquepiatti @boorlyk PhpStorm Update to 2022.2.1 (Build #PS-222.3739.61, built on August 18, 2022) did solve the issue

[2022-08-24 14:20] enriquepiatti commented on #322
Thanks @boorlyk ! it seems a problem with PHP File Header, a quick bugfix is just to edit that header, you can just add a comment, or a whitespace, Save it and then should work (I think you can even then edit Php File Header again to leave it empty and it should work too). I will try to add a bugfix in a new release.

[2022-08-24 14:20] #322 closed

[2022-08-24 15:53] enriquepiatti commented on #322
Actually, to bugfix this you can edit any template from "Includes" (probably from any other category too), the important thing is just to edit some template, save it, and PhpStorm will "fix" the invalid templates from Magicento while saving. I'm trying to figure out why the templates are suddenly invalid in 2022.2+ and why even without editing them, PhpStorm seems to fix them while saving any othe

[2022-10-11 08:37] cdittmar commented on #322
Hi,

thx for the quick response. The line separators config is set to "Unix
and macOs (\n)" as it always was.

I cannot access the templates used by magicento, the input field for the
template code is green and if I leave it I get an error message (see
attachments).

I tried it on another system which runs an older version of your plugin
(3.1.7). There the templates are shown correctly and the mod

[2022-10-14 17:12] enriquepiatti commented on #322
@cdittmar Version 3.3.5 should fix this issue